<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <appSettings>
		<add key="Domain" value="MyDomain.com" />
		<add key="ADPAth" value="LDAP://MyDomain" />
		<add key="ADUser" value="administrator" />
		<add key="ADPassword" value="123" />
		<add key="ADUsersPath" value="OU=MyDomain," />
	</appSettings>
</configuration>
