 <style>

     .panel-header-email
     {
                     width:360px; 
            height:100px;
     }
    </style>
<script src="~/Scripts/Chat/EpironChatEmail.js"></script> @*<---Cambiar de lugar*@
    <div class="modal-dialog">
        <div id="CreateChatDialog" class="panel" style="width: 360px;" >
            <div class="panel-header-email">
             <div style="border-bottom: 1px solid #EC5710;padding-bottom: 4px;"><img id="img-epiron" class="img-header" src="~/img/logo-epiron.png"/><img id="img-entorno" class="img-header" src="~/img/ico.png"/></div>
               <img id="img-message-email" src="~/img/sobre.png"  style=" margin-top: 20px;height: 59px; margin-left: 138px;"/>
                @*<img id="img-message-ok" src="~/img/mail-ok.png"  style="display:none; margin-top: 20px;height: 59px; margin-left: 138px;"/>*@
                <span id="span-version-email"></span>
                   <div id="alert-text-info-container" style="clear: both;">
                                    <div id="alert-text-view-info" class="alert-chat alert alert-warning" style="display: normal;">
                                        <p style="text-align: center;" class="info-text"></p>
                                    </div>
                    </div>
            </div>
            <div id="div-content">

               <div id="div-form-email"> 
                     <label>Email</label>
                            <input type="text" class = "no-border form-control" id="txt-Email" />
                      
                </div>
                     
                        <label>Telefono</label>
                   <input type="text" class = "no-border form-control" id="txt-phoneEmail" /> 
                        <br />
                        <label>Consulta</label>
                 <textarea class = "form-control" rows = 5 cols = 80 id="txt-InitialMessageEmail" style= "resize:none" ></textarea>

                      <button id="btnSendEMail"  class="btn-form" onclick="sendEmail();">Enviar</button>
                    <button id="btnCloseEmail" data-dismiss="modal" class="btn-form">Cerrar</button>
            
                  
            </div>

            <div id="alert-text-view1" class="alert alert-warning" style="display: none; margin: 5px">
                <p id="alert-text-error-tittle" style="font-weight: bold;"> </p>
                <p class="error-text" id="error-text-message"></p>
                <div id="link-email"></div>
            </div>

        </div>
    </div>
    