<div id="ChatDialog">


    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
             

                <label id="userId" class="form-control"></label>
                <label id="roomId" class="form-control"></label>
                <label id="count" class="form-control"></label>
                <label id="recordId" class="form-control"></label>
                </div>
            </div>

        </div>

     

    </div>


