<?xml version="1.0"?>
<configuration>
  <configSections>
    
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>

  </configSections>
  <connectionStrings>
    <add name="fwk" connectionString="Database=fwktest;Server=CLAPTON\SQLEXPRESS;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="fwkDES01" connectionString="Database=fwk;Server=corrsf71des01;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  


  <FwkServiceMetadata defaultProviderName="Xml_Provider">
    <Providers>
      <add name="pelsofthealth" type="xml" sourceinfo="..\..\Metasvc.xml"        appid="" />
    </Providers>
  </FwkServiceMetadata>

  <system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
</startup></configuration>
