
@{
    ViewBag.Title = "Gestion de aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    
    $(function () {
   
        //$('#dialog1').modal({
        //    backdrop: 'static',
        //    keyboard: false
        //})
        $("#dialog1").draggable({
            handle: ".modal-header"
        });

        $("#btnDialog2").click(function () {
            $("#dialog2").dialog("open");
        });
        $('#dialog2').dialog({
              autoOpen: false,
              width: 400,
              resizable: true,
              modal: false,
              show: {
                  effect: "blind",
                  duration: 1000
              },
              hide: {
                  effect: "explode",
                  duration: 1000
              }
          });
    });

</script>
<style type="text/css" >
    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #428bca;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>
<h2>dialogs</h2>


<div class="container">
    <div class="row">
        @*<div class="input-group" style="margin-top: 23px">*@
        <div>
            <button id="btnDialog1" type="submit" class="btn btn-primary btn-small" data-toggle="modal" data-keyboard="false" data-backdrop="static" data-target="#dialog1">Modal dialog bootstrap</button>
        </div>
        <div>
            <button id="btnDialog2" class="btn btn-success btn-small" data-toggle="modal" data-keyboard="false" data-backdrop="static" data-target="#chatRoomView">Dialog</button>
        </div>
        @*</div>*@
    </div>
    <div id="dialog1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chatroom" aria-hidden="true">
        <div class="modal-dialog">
            <div  class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">DIALOG 1</h4>
                </div>

                <div class="modal-body">
                      
                            <p>Chat Room  Dialog</p>
                   
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnExitChat" class="btn btn-danger " style="margin-left: 5px;">Salir</button>
                </div>

            </div>
        </div>
    </div>


    <div id="dialog2" >
        <p>Chat Room  Dialog</p>
        @*<div class="panel panel-info">
            
                <div class="panel-heading ">
                    <button type="button" class="close">&times;</button>
                    <h3 class="panel-title">DIALOG 1</h3>
                </div>

                <div class="panel-body">

                    <p>Chat Room  Dialog</p>

                </div>

                <div class="panel-footer">
                    <button type="button" id="btnExitChat" class="btn btn-danger " style="margin-left: 5px;">Salir</button>
                </div>

         
        </div>*@
    </div>
</div>

@section scripts {

   @Scripts.Render("~/bundles/jqueryui")
}