@model WebChat.Common.Models.ChatRoomGridModel
@{
    ViewBag.Title = "Gestion de aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

</script>
<h2>chat</h2>

<!-- Busqueda-->


<div class="container">
    <div class="row">
        <div class="span1">
            <!-- Chat Room  Dialog -->
            <div id="chatDialog" class="panel panel-success" >
                <div class="panel-heading">
                    <h3 class="panel-title">Page params</h3>
                </div>
                <div class="panel-body">
                    <div style=" border: 1px solid black">
                        <h1>Wellcome to PAGE 1</h1>
                    </div>
                </div>
            </div>
          

        </div>
    </div>
</div>


