<configuration>
  <appSettings>
    <!--Necesario para crear la cola: pcpdea0294\private$\sendmail-->
    <add key="queueName" value=".\private$\SendMail" />
    <add key="baseAddress" value="net.msmq://localhost/private/sendmail"/>
    <add key ="baseAddressHttp" value="http://localhost:8000/MSMC_WCF_Service/SendMailService"/>

  </appSettings>
  <system.serviceModel>
  <services>
    <service  name="MSMC_WCF_Service.SendMailService"       behaviorConfiguration="SendMailServiceBehavior">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8000/ServiceModelSamples/service"/>
        </baseAddresses>
      </host>
      <!-- Define NetMsmq Endpoint -->
      <endpoint
        address="net.msmq://localhost/private/sendmail"
        binding="netMsmqBinding"
        contract="MSMC_WCF_Service.ISendMail"
        bindingConfiguration="SendMailNetMsmqBinding" />
      <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
      <endpoint address="mex"
                binding="mexHttpBinding"
                contract="MSMC_WCF_Service.ISendMail" />
    </service>
  </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SendMailServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  <bindings>
    <netMsmqBinding>
      <binding name="SendMailNetMsmqBinding" deadLetterQueue="Custom">
        <security mode="None" />
      </binding>
    </netMsmqBinding>
  </bindings>
    
    

  </system.serviceModel>
  </configuration>