<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Health.Back.BE.Properties.Settings.HealthConnectionString" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=Health;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Health.Back.BE.Properties.Settings.BB_Desarrollo_4_0_LogsConnectionString" connectionString="Data Source=CORRSF71DES01;Initial Catalog=BB_Desarrollo_4_0_Logs;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HealthEntities" connectionString="metadata=res://*/Health.csdl|res://*/Health.ssdl|res://*/Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=moviedo\SQLEXPRESS;Initial Catalog=health;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>