<?xml version="1.0"?>
<configuration>

  <system.web>

    <customErrors mode="Off" >
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mfo_basicHttpBinding" bypassProxyOnLocal="false" 
          useDefaultWebProxy="false" >
          <security mode="None">
            <message clientCredentialType="UserName" 
              algorithmSuite="Default" />
          </security>
        </binding>
        
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="mfo_HttpBinding">
          <security mode="None">
            <message clientCredentialType="Windows"  negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="SecureWcf.CoreSecurity">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="mfo_basicHttpBinding"
          name="Basic" contract="SecureWcf.ICoreSecurity" />
        
        <endpoint binding="wsHttpBinding" bindingConfiguration="mfo_HttpBinding"
          name="ws" contract="SecureWcf.ICoreSecurity" />
        
        <endpoint address="mexHttp" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="SecureWcf.ICoreSecurity" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
