<?xml version="1.0"?>
<configuration>

  <system.web>

    <customErrors mode="Off" >
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      
      <wsHttpBinding>
        <binding name="mfo_HttpBinding"  >
        <security mode="Message">
         
          <message clientCredentialType="UserName" negotiateServiceCredential="false"
              algorithmSuite="Default" />
        </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="SecureWcf.CoreSecurity">
        <!--supports the old ASMX style, aimed for clients who do not have .NET 3.0   -->
        <endpoint address="basic" binding="basicHttpBinding" 
          name="Basic" contract="SecureWcf.ICoreSecurity" />
        <!-- exposes web services using WS-* specifications,  it does not support wider ranges of client and it cannot be consumed by older .NET version less than 3
        support Reliable messaging	-->
        <endpoint binding="wsHttpBinding"  name="ws" bindingConfiguration="mfo_HttpBinding"
          contract="SecureWcf.ICoreSecurity" />
        <endpoint address="mexHttp" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="SecureWcf.ICoreSecurity" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
