<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
  </configSections>
  <connectionStrings>
    <add name="health" connectionString="Data Source=192.168.1.189\SQLEXPRESS;Initial Catalog=Health;Persist Security Info=True;User ID=ws;Password=as" providerName="System.Data.SqlClient"/>
    <add name="health_dispatcher" connectionString="Data Source=192.168.1.189\SQLEXPRESS;Initial Catalog=fwkdata;Persist Security Info=True;User ID=ws;Password=as" providerName="System.Data.SqlClient"/>
    
    <add name="HealthEntities" connectionString="metadata=res://Health.BE,Version=1.2.0.8,Culture=neutral,PublicKeyToken=null/Health.csdl|res://Health.BE,Version=1.2.0.8,Culture=neutral,PublicKeyToken=null/Health.ssdl|res://Health.BE,Version=1.2.0.8,Culture=neutral,PublicKeyToken=null/Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.189\SQLEXPRESS;initial catalog=Health;persist security info=True;user id=ws;password=as;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HealthEntities_" connectionString="metadata=res://*/Health.csdl|res://*/Health.ssdl|res://*/Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.189\SQLEXPRESS;initial catalog=Health;persist security info=True;user id=ws;password=as;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="health_" connectionString="Data Source=192.168.1.189\SQLEXPRESS;Initial Catalog=Health;Persist Security Info=True;User ID=ws;Password=as" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <appSettings>
    <add key="ServiceDispatcherName" value="Healt_Disp_Test"/>
    <add key="ServiceDispatcherConnection" value="health_dispatcher"/>
    <add key="WrapperSecurityProvider" value="health_local"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      <add name="health_" type="xml" appid="" sourceinfo="D:\Projects\pelsofthealth\trunk\src\Health.Ws\Metasvc.xml" securityProviderName="sec_health"/>
      <add name="health" type="xml" appid="" sourceinfo="../../../Health.Ws\Metasvc.xml" securityProviderName="sec_health"/>
    </Providers>
  </FwkServiceMetadata>
  <FwkWrapper defaultProviderName="health_wcf">
    <Providers>
      <add name="health_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo=""/>
      <add name="health_ws" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="http://katy.sytes.net/health.WS/SingleService.asmx"/>
      <add name="health_wcf" type="Fwk.Bases.Connector.WCFWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp://localhost:8001/FwkService"/>
    </Providers>
  </FwkWrapper>
  <FwkLogging defaultProviderName="xmlProv">
    <Providers>
      <!--
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
			-->
      <add name="xmlProv"  target="Xml" fileName="Logs.xml"/>
      <add name="dbProv"  target="Database" cnnStringName="LogsDB2"/>
    </Providers>
  </FwkLogging>
  
  
  <system.web>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="sec_health" type="System.Web.Security.SqlRoleProvider" connectionStringName="health" applicationName="pelsofthealth"/>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
    <membership userIsOnlineTimeWindow="15" defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="sec_health" type="System.Web.Security.SqlMembershipProvider" connectionStringName="health" applicationName="pelsofthealth" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.DebuggerVisualizers" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
