<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
	</configSections>
  <connectionStrings>
    <add name="BB_MovistarSM_LogsEntities_" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANTANA\SQLEXPRESS;initial catalog=BB_SM_Logs;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="BB_MovistarSM_LogsEntities_des" 
		   connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORRSF71DES01;initial catalog=BB_PreProduccionSN_Logs;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	  <add name="BB_MovistarSM_LogsEntities"
		 connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORRSF71BD01;initial catalog=BB_MovistarSM_Logs;user id=BB_MovistarSM_bd01;password=bb_moVbd01_23Ene2012;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
  </connectionStrings>
	<FwkConfigProvider defaultProviderName="localFile1">
		<Providers>
			<add name="localFile1" type="local" baseConfigFile="ConfigurationManager.xml"/>
		</Providers>
	</FwkConfigProvider>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>