<script src="~/Scripts/epironchatversion1/epironChatVersionEndChat.js"></script>
<div id="div-end-chat" style="position:absolute; width:100%; height:100%; top:0; left:0; z-index:5; background-color:#03678c; display:none">
  <div class="div-optional" style="width:100%; height:25%; background-color:#274259">
      <p style="color:white; text-align:center; margin-bottom:1%;">¿Estás seguro que deseas salir?</p>
      <div style="text-align:center;">
        <button id="btn-answer-yes" style=" cursor:pointer; display: inline-block;width: 12%;height: 15%;border: none;background-color: white; color:#585858">Sí</button>
        <button id="btn-answer-no" style="cursor:pointer; display: inline-block;width: 12%;height: 15%;border: none;background-color: white; color:#585858">No</button>
    </div>
    </div>
    <div id="div-final-display"  style="display:none; text-align:center;">
    <div class="div-email-status" style="float:left; text-align:center;margin: 10% 0% 0% 14%;">
        <p style="color:white;">Le enviamos una copia de la conversación por email</p>
<img style="width:50%; height:30%; margin-left: 7%;" src="~/img/emo_smile.png" />
    </div>
    <div class="div-client-qualify" style="float:right; text-align:center;width: 35%;
margin: 10% 8% 0% 0%;">
        <p style="color:white">¿Como calificarias la atención por este canal?</p>
       <p><img style="width:7%; height:7%; margin:3%; display:inline-block;" src="~/img/emo_smile.png" />
        <img style="width:7%; height:7%; margin:3%;  display:inline-block;" src="~/img/emo_smile.png" />
           <img style="width:7%; height:7%; margin:3%; display:inline-block;" src="~/img/emo_smile.png" /></p>
        <button id="btn-send-survey" style="border: none;background-color: #07d122;width: 40%;height: 4%;color: #FFF;">Enviar</button>
    </div>
    </div>
</div>