<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
  <client>
   
      <!-- Define NetMsmq Endpoint -->
      <endpoint
        address="net.msmq://localhost/private/sendmail"
        binding="netMsmqBinding"
        contract="MSMC_WCF_Service.ISendMail"
        bindingConfiguration="SendMailNetMsmqBinding" />
 
  </client>
  <bindings>

    <netMsmqBinding>
      <binding name="SendMailNetMsmqBinding" deadLetterQueue="Custom">
        <security mode="None" />
      </binding>
    </netMsmqBinding>
  </bindings>
    </system.serviceModel>
  
</configuration>