*{ margin: 0; padding: 0;}

body
{
    height: 100%;
    padding: 0px;
    font: 11px/1.2 Verdana, Arial, Helvetica, sans-serif;
}
.clearfix
{
    display: inline-block;
}


#master_header
{
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    voice-family: "\"}\"";
    voice-family: inherit;
    background-color: #3B5998;
    height :40px;

}
#title
{
    font-size: 16px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    color: White;
}

#wrap
{ min-height:400px;
    }
    
#leftcol
{
   float:left;
    }
    
#centercol
    {
        border: 1px solid #C0C0C0;
        min-height:400px;
       
    }
#rightcol
{
    float:right;
    }
    
    
    
    #footer
    {
        }