@{
    Layout = "~/Views/Shared/_LayoutVersion.cshtml";
}

<script src="~/Scripts/jquery-2.1.0.js"></script>
<script src="~/Scripts/epironchatversion/epironchatversioninitial.js"></script>
<script src="~/Scripts/epironchatversion/jquery.slides.js"></script>

@*  <!-- Carrusel -->
  <script src="~/Scripts/epironchatversion/jquery.slides.min.js"></script>*@



<body style="background-color: #31B7CB;">

    <div id="div-initial-selection" >
        <div class="initial-selection" style="cursor:pointer; float: left; width: 10%; height: 1%; margin: 33% 2% 0% 33%; ">
            <img src="~/img/carro_ico.png" style="height: 10%;" >
        </div> 
        <div class="initial-selection" style="cursor:pointer; float: left; width: 10%; height: 1%; margin: 33% 2% 00% 2%; ">
            <img src="~/img/engranaje_ico.png" style="height: 10%;"/>
        </div> 
        <div class="initial-selection" style="cursor:pointer; float: left; width: 10%; height: 1%; margin: 33% 3% 0% 2%; ">
            <img src="~/img/usuario_ico.png" style="height: 10%;" />
        </div>
    </div>
    <div id="div-section-client-info" style="margin:15% 0% 0% 15%; display:none;" >
        <div style="float:left;  width:40%">
            <img src="~/img/movistar_banner_intro.jpg" style="width: 100%;"/> 
        </div>
        <div style="float:left; width:60%">
            <div style="padding:1%; position:absolute; width:44%; background-color:#274259; color:white;">
              <p style="margin: 0% 0% 0% 10%;">Ingrese sus datos</p>
            </div>
            <div id="div-form-client-info" style="margin: 10% 0% 0% 7%; width: 100%; color: white;">
                <div style="float:left;">
                    <div style=" margin-bottom: 5%">Nombre</div>
                    <div style=" margin-bottom: 5%"><input type="text" style="width:100%"/></div>
                    <div style=" margin-bottom: 5%">Teléfono</div>
                    <div style=" margin-bottom: 5%"><input type="text" style="width:100%" /></div>
                    <div style=" margin-bottom: 5%">Email</div>
                    <div style=" margin-bottom: 5%"><input type="text" style="width:100%"/></div>
                </div>
                <div style="float:left; margin-left:10%">
                   <div>Consulta</div>
                   <textarea  cols="31" rows="15" style="resize:none;"> </textarea>
                   <button id="btn-in" style="border: none;background-color: #07d122;width: 40%;height: 6%;color: #FFF; cursor:pointer; padding: 1%;">Ingresar</button>
                </div>

            </div>
        </div>
    </div>
    <div id="div-waiting-connection" style="display:none;">
        <div style="color: #FFF; text-align: center; margin: 15px;">
            Espere un momento mientras buscamos representantes disponibles...</div>
        <div id="div-banners">
            <a href="EpironChatVersion/ChatSession"><img src="~/img/bannerwaiting.jpg" /></a>
@*            <img src="~/img/bannerwaiting1.jpg" />
            <img src="~/img/bannerwaiting2.jpg" />*@
        </div>
    </div>

    <script>
    //$(function() {
    //    $('#div-banners').slidesjs({
    //    width: 940,
    //    height: 528,
    //    play: {
    //      active: true,
    //      auto: true,
    //      interval: 4000,
    //      swap: true
    //    }
    //  });
    //});
  </script>
</body>

