<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    
      <section name="MultipleInstanceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
  </configSections>


  <appSettings>
    <add key="ServiceName" value="Service Instance 3"/>
  </appSettings>
  <connectionStrings>
  </connectionStrings>

  <applicationSettings>

   

    <MultipleInstanceService.Properties.Settings>

      <setting name="TimerInterval" serializeAs="String">
        <value>1</value>
      </setting>
  
    </MultipleInstanceService.Properties.Settings>

  </applicationSettings>


</configuration>