<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="FacebookConfig" type="Fwk.SocialNetworks.Config.FacebookConfig, Fwk.SocialNetworks"/>
    <section name="TwitterConfig" type="Fwk.SocialNetworks.Config.TwitterConfig, Fwk.SocialNetworks"/>
  </configSections>
  
  <connectionStrings>
    <add name="socialnet" connectionString="Data Source=.\sqlexpress;Initial Catalog=SocialNet;Integrated Security = True"
        providerName="System.Data.SqlClient" />

    <add name="PortalMovistar"
   connectionString="Data Source=CORRSF71DES01; Initial Catalog=BB_FunPageLogsRedesSociales_Desarrollo; Persist Security Info=True; User ID=BigBang_Desarrollo; Password=BigBang_Desarrollo_des01"
   providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="LogSince" value="2010-08-20"/>
  </appSettings>

  
  <FacebookConfig defaultProviderName="bballus" limit="500">
    <Providers>
      <!--"BigBang Allus Test Page"-->
      <add name="bballus"
           userId="139370259416550"
           sourceId="158406037505010" 
           userAccessToken="139370259416550|013c8b69f6d3bdd1ded436ab-100001489811165|U-GIWbNHmcs3DuV6P6ENTHQetLM"
           pageAccessToken="139370259416550|013c8b69f6d3bdd1ded436ab-100001489811165|158406037505010|IdcQLouhD7P_RnRZv-hO5djudVw"
           enabled="true"/>
      
      <!--"211979668840791 = Allus testing"-->
      <add name="Allus_testing"
     userId="139370259416550"
     sourceId="211979668840791"
     userAccessToken="139370259416550|013c8b69f6d3bdd1ded436ab-100001489811165|U-GIWbNHmcs3DuV6P6ENTHQetLM"
     pageAccessToken="139370259416550|013c8b69f6d3bdd1ded436ab-100001489811165|211979668840791|wiGxLAx14lk1NBbYe2cXKXTDDco"
     enabled="true"/>


      <!--"name": "Comunidad movistar argentina",
      "category": "Telecommunication",
      "id": "233815212529",
      "access_token": "139370259416550|4e4092d02d7b7c306e49d8b2-100001561235305|233815212529|tcFp5XzubRNo9GkzhGLBx-xkHNs"-->
      <add name="movi"
        userId="1440380615"
        sourceId="2338152125296"
       userAccessToken="139370259416550|4e4092d02d7b7c306e49d8b2-100001561235305|ziOaWm28HR3xhshph8NQ3M1cC7o"
       pageAccessToken="139370259416550|4e4092d02d7b7c306e49d8b2-100001561235305|233815212529|tcFp5XzubRNo9GkzhGLBx-xkHNs"
        enabled="true"/>


      <add name="movi2"
             userId="1440380615"
             sourceId="186828591363023"
            userAccessToken="139370259416550|4e4092d02d7b7c306e49d8b2-100001561235305|ziOaWm28HR3xhshph8NQ3M1cC7o"
            pageAccessToken="139370259416550|4e4092d02d7b7c306e49d8b2-100001561235305|233815212529|tcFp5XzubRNo9GkzhGLBx-xkHNs"
             enabled="true"/>


      <add name="fwkfbapp"
   userId="1440380615"
   sourceId="228428667178930"
   userAccessToken="228428667178930%7C85f72683b916f4631fb85ed0.1-1440380615%7CZc5fjHdifyZnBWyI06xtbN-Cc9s"
   pageAccessToken="228428667178930|85f72683b916f4631fb85ed0.1-1440380615|228428667178930|XBDol7EJRGHW8nfMDu4l014Kupc"
   enabled="true"/>

      <add name="fwkfbapp2"
   userId="1440380615"
   sourceId="228428667178930"
   userAccessToken="228428667178930|85f72683b916f4631fb85ed0.1-1440380615|228428667178930|XBDol7EJRGHW8nfMDu4l014Kupc"
   pageAccessToken="228428667178930|85f72683b916f4631fb85ed0.1-1440380615|228428667178930|XBDol7EJRGHW8nfMDu4l014Kupc"
   enabled="true"/>
    </Providers>

    <Proxy name="proxy" port="3128" enabled="false" username="abrondani" password="Luicho.0329" domain="ALLUS-AR" url ="http://proxy:3128">
      
    </Proxy>
    
  </FacebookConfig>
  <!--proveedor Ej nuestra aplicacion -->
  <TwitterConfig defaultProviderName="allusdev"
                      consumerKey="9a7S21L9kIEQminDtAl6A"
                      consumerSecret="2o5eAeVwb2DeofJIieeOxRBIDRSaJASQs7L5PDLR8"
                      minRemainingHits="100"
                      statusesCount="50" >
    <Providers>
      <!--cliente  Allusdev Esta data se genera con la aplicacion-->
      <!--userId get from http://www.idfromuser.com/ -->
      <add name="allusdev"
				 accessToken="378571340-y2gLnjV6kYdwP2v4nvm4tSYZLeOifW4ji6oaq7cI"
				 accessTokenSecret="mxvKjz0tX1PlRVLQKFQubG0eQrxQeCPQpwcVve3yQY"
				 userId="378571340"
				 enabled="true" />
    </Providers>
    <Proxy name="proxy" port="3128" enabled="false" username="abrondani" password="Luicho.0329" domain="ALLUS-AR" url ="http://proxy:3128"> </Proxy>
  </TwitterConfig>
  
</configuration>