@{
    ViewBag.Title = "Confirmacion de reseteo de clave";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mensaje de correo electrónico enviado.  @Html.ActionLink("¿No lo has recibido?", "ForgotPasswordConfirmation", "Account", routeValues: null, htmlAttributes: new { email = "email", token = "token" })
    </p>
    
    <h1>
        Te hemos enviado un mensaje por correo electrónico que te permitirá restablecer tu contraseña de manera rápida y fácil.
    </h1>
    <p class="text-danger">
       Verifica tu correl electronico 
        <a class="go-provider btn-primary btn-full-width" target="_blank" href="http://mail.google.com/">Verifica tu correo electrónico</a>
    </p>
</div>

