*{ margin: 0; padding: 0;}

body
{
    color: #666666;
    height: 100%;
    padding: 0px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    background-color:#352B2A;
    background-repeat: repeat;
}

h1 {font-size: 27px;line-height: 30px;text-decoration: none;font-weight: bold;color: #642D15;margin-top: 0px;margin-right: 0px;margin-bottom: 5px;margin-left: 0px;padding: 0px;}


   
   .cuad
{
    border: 4px double #FFFF00;
    background-color: #333300;
    height: 400px;
    width: 400px;
    background-position: center;
    margin-left: 100px;
    margin-top: 60px;
    color: #336699;
}