@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
    @*@Html.LabelFor("sdfsdfsdfsdfsdf")*@
<ul> 
   @for (int i=0; i < ViewBag.Repetir; i++) { 
      <li>@string.Concat(ViewBag.Message,"    " ,ViewBag.Name)</li> 
       
   } 
</ul>
