<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksEntities_" 
         connectionString="metadata=res://*/modelo.csdl|res://*/modelo.ssdl|res://*/modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=katy;initial catalog=AdventureWorks;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="AdventureWorksEntities"
      connectionString="metadata=res://*/modelo.csdl|res://*/modelo.ssdl|res://*/modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=santana\SQLEXPRESS2008R2;initial catalog=AdventureWorks;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <add name="AdventureWorksEntities11" connectionString="Database=AdventureWorks;Server=.\SQLEXPRESS2008R2;Integrated Security=SSPI" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>