<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InitialBeerInventory" value="12" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8001/BeerInventory/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="JeffBarnes.WCF.Samples.CallbackDemo.Service.BeerService">
        <endpoint 
          address="service" 
          binding="netTcpBinding" 
          contract="JeffBarnes.WCF.Samples.CallbackDemo.Service.IBeerInventory"
          name="TcpBinding" />
        <endpoint
          address="service"
          binding="wsDualHttpBinding"
          contract="JeffBarnes.WCF.Samples.CallbackDemo.Service.IBeerInventory" 
          name="HttpBinding" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" 
          name="MexBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/BeerInventory/" />
            <add baseAddress="http://localhost:8001/BeerInventory/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
