    
.btGrisNegrita
{
    background-color: #666666;
    color: #FFFFFF;
    font-size: small;
    border: 1px solid #333333;
    height: 24px;
}
.btGrisNegrita: c
{
    background-color: #333333;
    color: #FFFF66;
}


.LeftBox
{
    margin: 0px;
    border: 1px groove #CCCCCC;
}

.LeftBox h1
{
    padding: 0px;
    margin: 0px;
    font-family: verdana;
    font-size: 11px;
}