    
.btGrisNegrita
{
    background-color: #666666;
    color: #FFFFFF;
    font-size: small;
    border: 1px solid #333333;
    height: 24px;
}
.btGrisNegrita: c
{
    background-color: #333333;
    color: #FFFF66;
}

