*
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body
{
    background-position: 0 0;
    margin: 10px 35px 0px 35px;
    padding: 0px;
    background: #FFFFFF url('../Images/bg_main.png') repeat-x scroll 0 0;
    font: 11px/1.2 Verdana, Arial, Helvetica, sans-serif;
    min-width : 500;
}
.clearfix
{
    display: inline-block;
}


#wrap
{
    border-style: groove none none none;
    border-width: 1px;
    border-color: #999999;
    margin: 0 auto -4em;
    padding: 0;
    height: auto !important;
    min-height: 100%;
    width: 99%;
    position: relative;
    top: 8px;
    left: 7px;
}
	
.Footer,.push 
{    clear: both;

    
    padding: 30px;
    margin: 5px;
    height: 4em;
  
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    vertical-align: middle;
}



#leftcontent
{
    border: 1px hidden #FFFFFF;
    background-position: #fff;
    position: absolute;
    width: 200px;
    background: #fff;
}
#rightcontent
{
    border-left: 1px solid #336699;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
        right: 10px;
        width: 190px;
        background: #fff;
    top: 3px;
}
#centercontent
        {
                
            voice-family: "\"}\"";
            background-position: #fff;
            background: #fff;
            border-style: solid;
            border-width: thin;
            border-color: #FFFFFF #336699 #FFFFFF #336699;
            voice-family: inherit;
            margin-left: 201px;
            margin-right: 201px;
            min-height : 500px;
        }
				
	html>body #centercontent {
   		margin-left: 201px;
   		margin-right:201px;
		}


	
#banner
{
   
    height: 50px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 39px;
    background-image: url('../Images/hader-top-bg.jpg');
    background-repeat: repeat-x;
}

html>body #banner {
		height:39px;
		}
		
	p,h1,pre {
		margin:0px 10px 10px 10px;
		}
		
	h1 {
		font-size:14px;
		padding-top:10px;
		}
		
	#banner h1 {
		font-size:14px;
		padding:10px 10px 0px 10px;
		margin:0px;
		}
	
	#rightcontent p {
		font-size:10px
		}
	

