
#menuh {

        font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;

        margin-top: 20px;

}
#menuh ul, li {

        list-style-type: none;
}
#menuh ul {

        margin: 0;

        padding: 0;
    height: 31px;
}
#menuh li {

        float: left;
}
#menuh a
{
    background-position: left;
    text-decoration: none;
    color: #000000;
    background: #CCCCCC;
    display: block;
    padding: 3px 10px;
    text-align: center;
    border: 1px solid #ACCFE8;
    border-width: 1px 1px 1px 0;
}





#menuh a#primero {

        border-left: 1px solid #ACCFE8;

}



#menuh a:hover
{
    background-position: center;
    background: #FFFFCC;
}



#menuv {

        border: 1px solid #ACCFE8;

        border-width: 1px 1px 0 1px;

        width: 180px;

        font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;

}

#menuv ul, li {

        list-style-type: none;
        
}



#menuv ul {

        margin: 0;

        padding: 0;

}



#menuv li {

        border-bottom: 1px solid #ACCFE8;

}



#menuv a
{
    background-position: #FFFFFF;
    text-decoration: none;
    color: #003300;
    background: #FFFFFF;
    display: block;
    padding: 3px 6px;
    width: 100%;
}



#menuv a:hover {

        background: #DBEBF6;

}
