body {
		margin:10px 10px 0px 10px;
		padding:0px;
		background:none repeat scroll 0 0 #DDDDDD;
        font:12px/1.2 Verdana,Arial,Helvetica,sans-serif;
}
	
#leftcontent
{
    background-position: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF #336699 #FFFFFF #FFFFFF;
    position: absolute;
    left: 10px;
    top: 50px;
    width: 200px;
    background: #fff;
}

	#centercontent
{
    margin-left: 199px;
    margin-right: 199px;
    voice-family: "\"}\"";
    background-position: #fff;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF #336699 #FFFFFF #336699;
    background: #fff;
    voice-family: inherit;
    margin-left: 201px;
    margin-right: 201px;
}
				
	html>body #centercontent {
   		margin-left: 201px;
   		margin-right:201px;
		}

	#rightcontent
{
    background-position: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF #FFFFFF #FFFFFF #336699;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 200px;
    background: #fff;
}
	
	#banner {
	    background-color:#3B5998;
		height:40px;
		border-top:1px solid #000;
		border-right:1px solid #000;
		border-left:1px solid #000;
		voice-family: "\"}\"";
		voice-family: inherit;
		height:39px;
		}
	html>body #banner {
		height:39px;
		}
		
	p,h1,pre {
		margin:0px 10px 10px 10px;
		}
		
	h1 {
		font-size:14px;
		padding-top:10px;
		}
		
	#banner h1 {
		font-size:14px;
		padding:10px 10px 0px 10px;
		margin:0px;
		}
	
	#rightcontent p {
		font-size:10px
		}
	
#wrap
{
    margin:0;
    padding:0;
    height: 254px;
    width: 1404px;
}
	