body {
background:none repeat scroll 0 0 #FFFFFF;
color:#333333;
direction:ltr;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
margin:0;
padding:0;
text-align:left;
unicode-bidi:embed;
}

#blueBar {
background-color:#3B5998;
height:41px;
left:0;
position:absolute;
width:100%;
z-index:-1;
}
gobalContainer {
margin:0 auto;
}
.fbx #globalContainer {
width:981px;
}
.fbx #tab_canvas > div {
padding-top:0;
}
.fb_content {
padding-bottom:20px;
}
.fbx .fb_content {
padding-bottom:0;
}
#pageHead {
margin:0 auto;
width:980px;
}
.fbx #pageHead {
margin:0;
width:auto;
}

.hasLeftCol #contentCol {
border-left:1px solid #B3B3B3;
margin-left:181px;
}

#contentCol {
background-color:#FFFFFF;
padding-top:15px;
}

.clearfix {
display:block;
}

.hasLeftCol #mainContainer {
border-right:1px solid #B3B3B3;
}

#mainContainer {
display:block;
margin-left:-1px;
width:100%;
}

.home #leftCol {
min-height:600px;
}

.hasLeftCol #leftCol {
display:block;
}

#leftCol {
display:none;
float:left;
padding:20px 0 0 2px;
width:179px;
word-wrap:break-word;
}

.hasLeftCol #pageFooter {
background-color:#FFFFFF;
clear:both;
margin-left:180px;
}

.fbx #pageFooter {
margin:auto;
width:auto;
}

#pageFooter {
color:#737373;
font-size:11px;
margin:0 auto;
width:980px;
}

.lfloat {
float:left;
}

.uiTextTitle, .uiTextSubtitle {
line-height:14px;
}

.uiTextSubtitle {
color:#808080;
font-size:11px;
}

.rfloat {
float:right;
}

.home #rightCol {
padding-top:6px;
}

.hasLeftCol #rightCol {
padding-right:20px;
}

.hasRightCol #rightCol {
margin-top:0;
}

#rightCol {
float:right;
margin-top:-10000px;
padding-right:0;
width:244px;
word-wrap:break-word;
}