<#+
	public void TransformText(Type _type )
	{#>
		

	var <#= _type.Name.ToLower() #> = function()
	{
		var self = this;

		self.$type = '<#= string.Format("{0}, {1}", _type.FullName, _type.Assembly.GetName().Name) #>';

     }


       
<#+   }  #>


