<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Basic" 
                    bypassProxyOnLocal="false" 
                    useDefaultWebProxy="true">
                    <security mode="None">
                        <message clientCredentialType="Windows" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ws" 
                    useDefaultWebProxy="true"
                    bypassProxyOnLocal="false"
                    allowCookies="false">
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                  
                </binding>
                <binding name="mex" 
                     bypassProxyOnLocal="false"
                    useDefaultWebProxy="true"       >
                    <security mode="None">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://katy.sytes.net/SecureWcf/CoreSecurity.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="Basic" contract="ServiceReference1.ICoreSecurity"
                name="Basic" />
            <endpoint address="http://katy.sytes.net/SecureWcf/CoreSecurity.svc"
                binding="wsHttpBinding" bindingConfiguration="ws" contract="ServiceReference1.ICoreSecurity"
                name="ws">
                <identity>
                    <userPrincipalName value="CPUDEL60578\ASPNET" />
                </identity>
            </endpoint>
            <endpoint address="http://katy.sytes.net/SecureWcf/CoreSecurity.svc/mexHttp"
                binding="wsHttpBinding" bindingConfiguration="mex" contract="ServiceReference1.ICoreSecurity"
                name="mex" />
        </client>
    </system.serviceModel>
</configuration>