@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>





<div class ="article_wrap">
    <p>
        <br />
    </p>
    <p align="center" class="MsoNormal">
        <b><u><span lang="ES-AR">HOSPITAL MUNICIPAL<span>&nbsp; </span>ADELIA<span>&nbsp;
        </span>MARIA <o:p></o:p>
        </span></u></b>
    </p>
    <p align="center" class="MsoNormal">
        <o:p></o:p>
    </p>
    
    <p class="MsoNormal">
        <span lang="ES-AR">Los objetivos planteados por la <span>&nbsp;</span>Dirección,
        <span>&nbsp;</span>para cumplimentar <span>&nbsp;</span>en el Hospital Municipal Adelia 
        María son las siguientes: Cumplir la función social de la <b><i>PREVENCION DE<span>&nbsp;
        </span>ENFERMEDADES,<span>&nbsp; </span>LA PROMOCION DE SALUD<span>&nbsp; </span>
        Y LA</i> <i>PRESTACION<span>&nbsp; </span>DE SERVICIOS DE SALUD</i></b> a toda 
        la comunidad es el objetivo primordial que tiene el Hospital. Llevando a la 
        práctica el lema de <b>“Salud para todos “</b> y<span>&nbsp; </span>garantizando 
        de esta manera la atención médica gratuita a todos los habitantes de la 
        comunidad. Por este motivo esta Dirección hace hincapié en los cimientos de la 
        atención médica, la cual se caracteriza en cinco pilares muy importantes como lo 
        son, <b><i>la equidad, la atención integral, la accesibilidad, la eficacia y 
        eficiencia </i></b>para lograr una atención médica de primer nivel y excelencia 
        en la comuna y de las zonas aledañas. Esto,<span>&nbsp; </span>no depende 
        solamente de la coordinación y el esfuerzo de un equipo de salud sino del 
        compromiso tanto de las autoridades encargadas en crear y sustentar políticas de 
        salud, comprometidas con el bien común como de la población para la cual es 
        destinataria.</span></p>
    <p class="MsoNormal">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Equidad,<span>&nbsp; </span>el 
        Hospital brinda atención médica a toda la población,<span>&nbsp; </span>sin 
        hacer distinción alguna<span>&nbsp; </span>como lo establece nuestro sistema de 
        salud.</span></p>
    <p class="MsoNormal">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">De fácil<span>&nbsp; </span>
        accesibilidad ya que se encuentra ubicado en la zona céntrica de Adelia María, 
        no sólo para la población local sino también para las localidades aledañas.</span></p>
    <p class="MsoNormal">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Atención integral ya que cuenta con 
        diferentes especialidades como Pediatría, Ginecología, Obstetricia, Cirugía, 
        Cardiología, Enfermería,<span>&nbsp; </span>Servicios de Laboratorio,<span>&nbsp;
        </span>de Imágenes,<span>&nbsp; </span>Salud Mental, Asistencia Social y 
        Farmacia .Brindando Atención Médica de primer, segundo y en algunos casos tercer 
        nivel.</span></p>
    <p class="MsoNormal">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Además se caracteriza por una 
        atención<span>&nbsp; </span>eficaz,<span>&nbsp; </span>ya que nuestras 
        estadísticas son bastantes favorables, con bajos índices de mortalidad<span>&nbsp;
        </span>y<span>&nbsp; </span>de desnutrición infantil,<span>&nbsp; </span>
        reflejando la prevención y asistencia que se le brinda tanto<span>&nbsp; </span>
        a la madre como<span>&nbsp; </span>al niño.</span></p>
    <p class="MsoNormal">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Otras de las características a tener 
        en cuenta es la eficiencia,<span>&nbsp; </span>ya que se procura la optimización 
        de recursos económicos<span>&nbsp; </span>brindados por la comuna para suplir 
        los altos gastos en salud y de esta manera brindar excelencia en la atención 
        médica.</span></p>
    <p style="margin-left: 36.0pt; mso-add-space: auto; text-align: justify;  margin-top: 4px; margin-bottom: 6px;">
        <span lang="ES-AR"><o:p>&nbsp;</o:p></span></p>
    <p style="margin-left: 36.0pt; mso-add-space: auto;  margin-top: 4px; margin-bottom: 6px;">
        <b><span lang="ES-AR"><o:p>&nbsp;</o:p></span></b></p>
    <p style="margin-left: 36.0pt; mso-add-space: auto;  margin-top: 4px; margin-bottom: 6px;">
        <b><span lang="ES-AR">Se llevan a cabo las siguientes acciones: <o:p></o:p>
        </span></b>
    </p>
    <p style="margin-top: 4px;  margin-bottom: 0cm; margin-left: 36.0pt; margin-bottom: 6px; line-height: 115%;">
        <span lang="ES-AR"><o:p>&nbsp;</o:p></span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Campañas<span>&nbsp; </span>de 
        vacunación dirigidas a las poblaciones más susceptibles: niños, <span>&nbsp;</span>embarazadas, 
        adultos, y <span>&nbsp;</span>personal de salud.<span>&nbsp;&nbsp; </span></span>
    </p>
    <div class="img_box" style="float:left; margin-left: 45px">
    
            <img src="../img/salud_vacunacion2.jpg" class="news_img_200_200">
    
    </div>
    <div class="img_box" style="margin-left: 270px">
        <img src="../img/salud_vacunacion1.jpg" class="news_img_200_200">
    </div>
    <div class = "clearBoth"></div>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Campaña para la lucha contra el 
        cáncer de mama en<span>&nbsp; </span>pacientes<span>&nbsp; </span>de riesgo,<span>&nbsp;
        </span>de forma gratuita<span>&nbsp; </span>realizándose mamografías con un 
        mamógrafo<span>&nbsp; </span>móvil a toda la comunidad y de localidades vecinas. 
        Se detectaron siete<span>&nbsp; </span>casos en estado evolutivo in situ lo que 
        determina en algunos casos la curación de la enfermedad o probabilidad de 
        remisión.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Se realizaron campañas de prevención 
        para<span>&nbsp; </span>hipertensión arterial, tabaquismo, diabetes, 
        enfermedades de transmisión<span>&nbsp; </span>sexual como el sida, sífilis, 
        drogadicción, y<span>&nbsp; </span>alcoholismo..</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Se realizó la capacitación permanente<span>&nbsp;
        </span>del personal de salud,<span>&nbsp; </span>atendiendo a las necesidades de 
        la comunidad.</span></p>
    <p style="margin-top: 4px;  margin-bottom: 0cm; margin-left: 36.0pt; margin-bottom: 6px; line-height: 115%; font-size: 11.0pt; ">
        <span lang="ES-AR"><o:p>&nbsp;</o:p></span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Aumentó la demanda de atención en 
        consultorios externos en diferentes especialidades tales como: </span>
    </p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Clínica Médica (100 pacientes día de 
        promedio), cirugía general, obstetricia, cardiología, pediatría servicio de 
        odontología, salud mental radiología y ecografía.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">El Hospital cuenta con Guardias 
        Médicas de 24 hs los 365 días del año con servicio de Enfermería y Ambulancias, 
        brindando servicio de atención no solo a nuestra a sino a zonas rurales 
        periféricas como la comunidad de Monte de los gauchos, Huanchilla, La Cautiva, 
        Punta del Agua y San Basilio.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">La atención de la salud en la parte 
        privada es acotada tanto en<span>&nbsp; </span>días laborales como en días 
        feriados ya que no cuenta con guardias permanentes para los pacientes 
        mutualizados delegando dicha atención al hospital público, esto provoca la<span>&nbsp;
        </span>saturación de los servicios tanto en la demanda de consultorio como<span>&nbsp;
        </span>de enfermería y<span>&nbsp; </span>el servicio de ambulancia para el 
        traslado de pacientes a hospitales<span>&nbsp; </span>de mayor complejidad.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Aumentó la utilización del número de 
        camas y por ende n° de internaciones con un promedio de 45 a 50 pacientes por 
        mes.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Aumentó <span>&nbsp;</span>el número<span>&nbsp;
        </span>de atención de partos en el nosocomio con 20 nacimientos en el año<span>&nbsp;
        </span>de los cuales 13 fueron por cesárea, con total éxito en los mismos.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Se realizaron 20 cirugías pediátricas 
        programadas de media y alta complejidad haciendo uso del quirófano existente 
        logrando de esta manera optimizar los recursos e instalaciones del Hospital al 
        servicio de la población.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Se incrementa también <span>&nbsp;</span>de 
        número de atención en el servicio por imágenes como radiología y ecografías para 
        la detección de patologías.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Cuenta <span>&nbsp;</span>con dos 
        ambulancias totalmente equipadas con chofer las 24 hs. lo que permite la rápida 
        atención y traslados de pacientes que sufren accidentes en la vía pública.</span></p>

    <div class="img_box" style="float:left; margin-left: 45px">
    
            <img src="../img/salud_ambulancia.jpg" class="news_img_200_200">
    
    </div>
    <div class="img_box" style=" margin-left: 270px">

            <img src="../img/salud_ambulancia2.jpg" class="news_img_200_200">
       
    </div>
      <div class = "clearBoth"></div>
        <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">En lo que va del año se registraron 
        un total de 65 accidentes de tránsito los cuales fueron rápidamente asistidos 
        por nuestras ambulancias y equipo médico.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">En los <span>&nbsp;</span>últimos meses se 
        realizaron inversiones en equipamiento médico como bisturí eléctrico, 
        nebulizadores, un electrocardiógrafo de última generación, glucómetros, 
        oxímetros de pulso, un resucitador adulto DG (K67), dos resucitadores 
        pediátricos, nanómetros, tensiómetros, termómetros digitales, un colchón de aire 
        e instrumental de quirófano vari.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Con respecto al área administrativa 
        se invirtió en una fotocopiadora de última generación, computadoras con 
        impresoras, mobiliario de oficinas etc.</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">Se realizaron<span>&nbsp; </span>
        inversiones en insumos hospitalarios además la Farmacia del Hospital cuenta con 
        gran stock de medicamentos que son administrados de forma gratuita a todos los 
        pacientes que lo necesiten. </span>
    </p>
       <div class="img_box" style="float:left; margin-left: 45px">
    
            <img src="../img/salud_farmacia1.jpg" class="news_img_200_200">
    
    </div>
 
      <div class = "clearBoth"></div>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">SE ENTREGARON MEDICAMENTOS y JARABES 
        Y DEL PROGRAMA REMEDIAR</span></p>
    <p style="text-indent: -18.0pt;  margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <![if !supportLists]><span lang="ES-AR">·<span>&nbsp;&nbsp;
        </span></span><![endif]><span lang="ES-AR">En cuanto al servicio de Salud Mental 
        ofrece atención y contención terapéutica y farmacológica a sus pacientes 
        contando con profesionales idóneos.</span></p>
    <p style="text-align: justify; margin-left: 36.0pt;  margin-top: 4px; margin-bottom: 6px;">
        <span lang="ES-AR"><o:p>&nbsp;</o:p></span></p>
    <p style="margin-left: 36.0pt; mso-add-space: auto; text-align: justify;  margin-top: 4px; margin-bottom: 10.0pt;">
        <span lang="ES-AR">El financiamiento para llevar a cabo todas estas tareas 
        provienen principalmente del Municipio, del Gobierno Provincial y Nacional a 
        través del Plan Nacer, y de diferentes convenios con obras sociales como PAMI.
        </span>
    </p>
    
    
    </div>