<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="HealthEntities" connectionString="metadata=.\Health.csdl|.\Health.ssdl|.\Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SANTANA\SQLEXPRESS;Initial Catalog=Health;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>