<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WorkflowRuntimeConfig" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name ="LocalServicesConfig" type ="System.Workflow.Activities.ExternalDataExchangeServiceSection, System.Workflow.Activities, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <WorkflowRuntimeConfig >
    <Services>
      <add type="System.Workflow.Activities.ExternalDataExchangeService, System.Workflow.Activities, Version=3.0.00000.0, Culture=neutral,   PublicKeyToken=31bf3856ad364e35"  ConfigurationSection="LocalServicesConfig"  />
      <!--<add type="System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
      <!--<add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" UnloadOnIdle="true" LoadIntervalSeconds="10" ConnectionString="Initial Catalog=Storage;Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;"/>-->
      <!--<add type="System.Workflow.Runtime.Tracking.SqlTrackingService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" UnloadOnIdle="true" LoadIntervalSeconds="10" ConnectionString="Initial Catalog=Storage;Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;" />-->
      <add type="RKiss.WorkflowRemoting.NonePersistenceService, WorkflowRemoting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </Services>
  </WorkflowRuntimeConfig>

  <LocalServicesConfig>
    <Services>
      <!--<add type="RKiss.WorkflowRemoting.InvokerLocalService, WorkflowRemoting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
    </Services>
  </LocalServicesConfig>

  <system.serviceModel>
    <client>
      <endpoint name="myWorkflow4" 
        address="net.tcp://localhost:1212/myWorkflow4" 
        binding="netTcpBinding" 
        contract="InterfaceContract.ITest"/>
      <endpoint name="asynctest" 
        address="net.msmq://localhost/private/workflow"
        binding="netMsmqBinding"
        bindingConfiguration="Binding1" 
        contract="InterfaceContract.IFireTest"/>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="Binding1" exactlyOnce="true" useSourceJournal="true" useActiveDirectory="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>

  <appSettings>
    <add key="asyncWorkflow" value="wcf://asynctest"/>
    <add key ="workflow7" value="..\\..\\..\\WorkflowLibrary\\Workflow7.xoml"/>
  </appSettings>
  
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow1, WorkflowLibrary" objectUri="myWorkflow1" />
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow2, WorkflowLibrary" objectUri="myWorkflow2" />
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow3, WorkflowLibrary" objectUri="myWorkflow3" />
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow4, WorkflowLibrary" objectUri="myWorkflow4" />
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow5, WorkflowLibrary" objectUri="myWorkflow5" />
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow6, WorkflowLibrary" objectUri="myWorkflow6" />
        <wellknown mode="SingleCall" type="WorkflowLibrary.Workflow7, WorkflowLibrary" objectUri="myWorkflow7" />
      </service>
      <channels>
        <channel ref="tcp" />
        <channel name="wf" timeout="40" callcontextActor="InterfaceContract" type="RKiss.WorkflowRemoting.ClientWorkflowInvoker, WorkflowRemoting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>