/* ShoppingCart.site
----------------------------------------------------------*/
.href{}
.src{}
.cart-col{}
.cart-col-description{	width:150px;	display: table-cell;	}
.cart-col-price{width:100px;	display: table-cell;	}
.cart-total{ margin-top: 7; width: 120px; height: 40; border: 1px;float:right}

.cart-catalog-col-price{color:#990000;	display:table-cell;	margin-top:3px;		}
.cart-catalog-col-desc
{
	color:#373737;
	display:table-cell;
	margin-top:3px;
	font-weight:bold;
	width:350px;
	border-style:none;
	}
	.cart-catalog-col
{
	color:#373737;
	display:table-cell;
	margin-top:3px;
	font-weight:bold;
	border-style:none;
	}
		.cart-catalog-marca
{
	color: #4A4A4A;
	display: table-cell;
	margin-top: 3px;
	font-weight: normal;
	border-style: none;
}
.cart-div
{
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	padding: 5px 2px 8px 2px;
}
.cart-div .YodaGrilla .AspNet-GridView table tbody tr td
{	border-style: none;
	}
.shoppingCartDiv_buy
{
	border-radius: 3px 3px 3px 3px;
	border-style: solid;

	border-width: 1px;
	padding: 3px;
	
	margin-top: 11px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.shoppingCartDiv_buy a 
{text-decoration: none;
	color: #003300;
}
		
.shoppingCartDiv_buy a:hover
{
	color: #465c71;
}
.shoppingCartDiv_buy input
{
	background-color: White;
	text-decoration: none;
	color: #003300;
	border-style: none;
	cursor:pointer;
}


.nodeLevel1
{
	font: 14px Arial,Sans-Serif;
	/*border: double 1px gray;*/
	height: 20px;
	
	padding-left: 0px;
	color: #800000;
	text-decoration: none;
	cursor:pointer;
} 
.nodeLevel2
{
	font: 12px Arial,Sans-Serif;
	border: none;
	margin: 0px;
	padding-left: 2px;
	height: 20px;
	width: 90px;
	color: #666666;
	text-decoration: none;
} 
.nodeLevel3
{
	font: 12px Arial, Sans-Serif;
	margin: 0px;
	padding-left: 1px;
	color: #006600;
	height: 25px;
	width: 100px;
	text-decoration: none;
}
