/* ShoppingCart.site
----------------------------------------------------------*/
.cart-col{}
.cart-col-description{	width:150px;	display: table-cell;	}
.cart-col-price{width:100px;	display: table-cell;	}
.cart-total{ margin-top: 7; width: 120px; height: 40; border: 1px;float:right}
.cart-catalog-col-price{	color:#990000;	display:table-cell;	margin-top:3px;		}
.cart-catalog-col-desc
{
	color:#373737;
	display:table-cell;
	margin-top:3px;
	font-weight:bold;
	width:400px;
	border-style:none;
	}
.cart-div
{
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;

	padding: 5px 2px 8px 2px;
}
.cart-div .YodaGrilla .AspNet-GridView table tbody tr td
{	border-style: none;
	}
.shoppingCartDiv_buy
{
	border-radius: 3px 3px 3px 3px;
	border-style: solid;

	border-width: 1px;
	padding: 3px;
	
	margin-top: 11px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.shoppingCartDiv_buy a 
{text-decoration: none;
	color: #003300;
}
		
.shoppingCartDiv_buy a:hover
{
	color: #465c71;
}
.shoppingCartDiv_buy input
{
	background-color: White;
	text-decoration: none;
	color: #003300;
	border-style: none;
	cursor:pointer;
}


.nodeLevel1
{
	font: 14px Arial,Sans-Serif;
	border: double 1px gray;
	height: 20px;
	width: 90px;
	padding-left: 5px;
	color: #800000;
	text-decoration: none;
	cursor:pointer;
} 
.nodeLevel2
{
	font: 12px Arial,Sans-Serif;
	border: none;
	margin: 0px;
	padding-left: 10px;
	height: 25px;
	width: 90px;
	color: #666666;
	text-decoration: none;
} 
.nodeLevel3
{
	font: 10px Arial,Sans-Serif;
	border: double 1px gray;
	margin: 0px;
	padding-left: 15px;
	color: #666666;
	height: 25px;
	width: 100px;
	text-decoration: none;
}

/* TAB MENU   
----------------------------------------------------------*/
/*
div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}