<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases" />
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />
  </configSections>
  <connectionStrings>


    <add name="health" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=Health;Persist Security Info=True;User ID=ws;Password=as"
  providerName="System.Data.SqlClient" />
    <add name="HealthEntities" connectionString="metadata=res://*/BE.Health.csdl|res://*/BE.Health.ssdl|res://*/BE.Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANTANA\SQLEXPRESS;initial catalog=Health;persist security info=True;user id=ws;password=as;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="health_" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Health;Persist Security Info=True;User ID=ws;Password=as"
  providerName="System.Data.SqlClient" />
    <add name="HealthEntities_" connectionString="metadata=res://*/BE.Health.csdl|res://*/BE.Health.ssdl|res://*/BE.Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANTANA\SQLEXPRESS;initial catalog=Health;persist security info=True;user id=ws;password=as;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      
      <add name="health" type="xml" appid="" sourceinfo="D:\Projects\pelsofthealth\trunk\src\Health.Ws\Metasvc.xml" securityProviderName="sec_health"/>
     
    </Providers>
  </FwkServiceMetadata>
  <FwkWrapper defaultProviderName="health_local">
    <Providers>
      <add name="health_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="health" sourceinfo=""/>
      <add name="health_sec_ws" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="health" sourceinfo="http://localhost:38091/SingleService.asmx"/>
      <add name="health_remoto_" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="health" sourceinfo="http://katy.sytes.net/healthWS/SingleService.asmx"/>
      
    </Providers>
  </FwkWrapper>
  <system.web>
    <roleManager defaultProvider="sec_health" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="sec_health" type="System.Web.Security.SqlRoleProvider" connectionStringName="health" applicationName="pelsofthealth"/>
      </providers>
    </roleManager>
    <membership defaultProvider="sec_health" userIsOnlineTimeWindow="15">
      <providers>
        <add name="sec_health" type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="health" applicationName="pelsofthealth"
             enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
