@model WebChat.Common.Models.ChatRoomFromUrlModel
@{
    ViewBag.Title = "chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
   
}
<script type="text/javascript">
  
    $(function () {

        $('#btnCreateNew').on('click', function () {

            var _userId = 2;
            var _roomId = 2342;
            var _recordId = 555;
            var _firstMessageId = 2324;
            var _UserName = 256;
            var obj = {
                UserId: _userId,
                RoomId: _roomId,
                MessageId: _firstMessageId,
                RecordID: _recordId,
                UserName: _UserName
            }

            $.ajax({
                url: "/EpironChatVersion/ChatSession/",
                type: "POST",
                dataType: 'html',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(obj),
                success: function (result) {

                    //alert(result);
                    $("#viewWrapper").html('');
                    $("#viewWrapper").html(result);
                }

                ,error: ServiceFailed
            });
        });

    });
</script>
<h2>chat</h2>

<div id="viewWrapper" >
    <button id="btnCreateNew" type="submit" class="btn btn-primary">Llamar vista</button>
</div>



@section scripts {
   


}
