<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebService_Secure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />
    </configSections>
  <FwkWrapper defaultProviderName="gastos_remoto">
    <Providers>
      <add name="gastos_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="gastos" sourceinfo=""/>
      <add name="gastos_remoto" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="gastos" sourceinfo="http://katy.sytes.net/gastosWS/SingleService.asmx"/>
    </Providers>
  </FwkWrapper>
    <applicationSettings>
        <WebService_Secure.Properties.Settings>
            <setting name="WebService_Secure_gastosWs_SingleService2" serializeAs="String">
                <value>http://katy.sytes.net/gastosws/SingleService.asmx</value>
            </setting>
        </WebService_Secure.Properties.Settings>
    </applicationSettings>
</configuration>