@model IdentitySample.Common.PortalErrorInfo


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" lang="javascript">

    $(function () {


        $("#InnerEx").accordion();
    });
</script>
<div style="margin-left: 300px; margin-top: 100px; width: 660px">
    <span>
        <img src="/content/img/warning25.png" alt="" style="float: left; height: 42px;
            width: 42px; margin-right: 10px" />
    </span>


    <div id="CreateChatDialog" class="panel panel-success">
        <div class="panel-header">
            <h4 class="modal-title">@Model.ErrorTitle</h4>
        </div>
        <div class="panel-body">
                        <div id="alert alert-info">
                            @Model.Message
                        </div>
            
                        @if (Model.Exception.InnerException != null)
            {
                <div id="InnerEx" class="alert alert-info" style="">

                    <h3>Error interno</h3>
                    <div class="" style="margin: 10PX;">


                        @{
                Exception innerEx = Model.Exception.InnerException;
                        }


                        @while (innerEx != null)
                        {
                        <div>
                            @innerEx.Message;
                        </div>
                            innerEx = innerEx.InnerException;
                        }

                    </div>
                    <h3>
                        Traza del error
                    </h3>
                    <div class="alert alert-info">
                        <div>
                            @Model.StackTrace

                        </div>
                    </div>
                </div>
                        }
            
        </div>

        <div id="alert-text-view1" class="alert alert-warning" style="display: none; margin: 5px">
            <p id="alert-text-error-tittle" style="font-weight: bold;"> </p>
            <p class="error-text" id="error-text-message"></p>
            <div id="link-email"></div>
        </div>

        <div class="panel-footer">
            @*<button id="btnCreateNew" type="submit" class="btn btn-primary">Crear</button>
            <button id="btnClose" type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>*@
        </div>

    </div>

   

    
</div>


