<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    
  </configSections>
  <connectionStrings>
    <add name="health" connectionString="Data Source=clapton\SQLEXPRESS2008;Initial Catalog=Health;Persist Security Info=True;User ID=ws;Password=as" providerName="System.Data.SqlClient"/>
    <add name="HealthEntities" connectionString="metadata=res://*/Health.csdl|res://*/Health.ssdl|res://*/Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=clapton\SQLEXPRESS2008;initial catalog=Health;persist security info=True;user id=ws;password=as;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WrapperSecurityProvider" value="health_local"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      <add name="health" type="xml" appid="" sourceinfo="e:\Projects\x-dev\Allus\workshop_fwk\workshop_fwk_12\health\Metasvc.xml" securityProviderName="sec_health"/>
    </Providers>
  </FwkServiceMetadata>

  
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="sec_health" type="System.Web.Security.SqlRoleProvider" connectionStringName="health" applicationName="pelsofthealth"/>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
    <membership userIsOnlineTimeWindow="15" defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="sec_health" type="System.Web.Security.SqlMembershipProvider" connectionStringName="health" applicationName="pelsofthealth" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
