<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Poisoned.WcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<connectionStrings>
		
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="Poisoned.WcfService.SystemEvent" behaviorConfiguration="SystemEventBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://moviedo:8000/Poisoned" />
					</baseAddresses>
				</host>
				<endpoint name="MSMQ" address="net.msmq://localhost/private/syseventqueue"
					binding="netMsmqBinding"
					bindingConfiguration="syseventBinding"
					behaviorConfiguration="BatchingBehavior"
					contract="Poisoned.WcfService.ISystemEvent" />
				<!-- Metadata Endpoints -->
				<endpoint address="mex" binding="mexHttpBinding" contract="Poisoned.WcfService.ISystemEvent" />


			</service>


			<service name="Poisoned.WcfService.SystemEventDLQ">
				<!-- endpoint para mensages dudosos -->
				<endpoint name="MSMQ_DLQ" address="net.msmq://localhost/private/syseventqueuePoison"
                  binding="netMsmqBinding"
                  bindingConfiguration="DLQBinding"
                  contract="Poisoned.WcfService.ISystemEventDLQ" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="SystemEventBehavior">
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="BatchingBehavior">
					<transactedBatching maxBatchSize="4" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<netMsmqBinding>
				<binding name="DLQBinding" />

				<binding name="syseventBinding"
					  timeToLive="0.00:00:03"
					  deadLetterQueue="Custom"
						     maxRetryCycles="2" 
	 receiveErrorHandling="Fault"
	 receiveRetryCount="1" 
     retryCycleDelay="00:00:05" 
						 
					   customDeadLetterQueue = "net.msmq://localhost/private/syseventqueuePoison">
			
					<security mode="None" />
					
				</binding>
				

			</netMsmqBinding>
		</bindings>
	</system.serviceModel>
	<applicationSettings>
		<Poisoned.WcfService.Properties.Settings>
			<setting name="PerformLog" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AdministratorGroupName" serializeAs="String">
				<value>Administradores</value>
			</setting>
			<setting name="QueueName" serializeAs="String">
				<value>.\private$\syseventqueue</value>
			</setting>
			<setting name="PoisonQueueName" serializeAs="String">
				<value>.\private$\syseventqueuePoison</value>
			</setting>
		</Poisoned.WcfService.Properties.Settings>
	</applicationSettings>
</configuration>