@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/emoticons.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {
       
        $('#div_emoticons').html($.emoticons.toString());
        //hacer click
        //$('#txtMessage').on('keypress', function () {
        //    var $text = $('#txtMessageList');
        //        $in = $(this);
        //    //$.emoticons.replace($in.val());

        //    $text.html($.emoticons.replace($in.val()));
        
        //    //setTimeout(function () {
        //    //    $text.html($.emoticons.replace($in.val()));
        //    //}, 100);
        //});

        $('#txtMessage').keyup(function (e) {
            if (e.keyCode == 13) {
                appendMessage(false, 'Hendryx', '#txtMessage');
            }
        });


        $('#txtMessage2').keyup(function (e) {
            if (e.keyCode == 13) {
                appendMessage(true, 'BB.King', '#txtMessage2');
            }
        });
    });
    function appendMessage(isFriend, talker, messageId) {

        var message = $(messageId).val();
        var container = $('#txtMessageList');


        var divMessag = document.createElement("DIV");
        $(divMessag).html($.emoticons.replace(message));

        var today = new Date();
        var div = document.createElement("DIV");
        var dateFormat = $.datepicker.formatDate('dd-mm-yy hh:mm:ss', today);
        $(div)
                    .appendTo(container)
                    .addClass((isFriend ? "_tlkFriend" : "_tlkMe"))
                    .end()
                    .append("<span class=\"_talker\">" + (isFriend ? talker : "Yo:") + "</span>")
                    .append("<span class=\"_time\">" + dateFormat + "</span>")
                    //.append("<span>: </span><BR /> ")
                    .append("<span class=" + (isFriend ? "bubble_left" : "bubble_right") + ">" + $(divMessag).html() + "</span> ");
        

        funcretriveAllMessage = setTimeout(function () { RetriveAllMessage(); }, 2000);
    }
   
</script>
<h2>chat</h2>
<div class="container">
    <div class="row">

        <div class="row">

            <div>
                <table style=" border: 1px solid black">
                    <tr>
                        <td style="width: 500px;">
                            <div id="txtMessageList" style="height: 400px; border: 2px groove grey; background-color: #F6FBF4; font-size: 12px; overflow: auto; " />
                        </td>
                        <td valign="top" style="width: 280px;"></td>

                    </tr>
                    <tr>
                        <td valign="middle" style="width: 280px;">

                            <input id="txtMessage" type="text" class="form-control" style="height: 50px;" />
                        </td>
                        <td style="width: 180px;">
                            <div class="btn-group" role="group">
                                <button type="button" id="btnSendMessage" class="btn btn-info " style="margin-left: 5px;">Enviar</button>
                                <button type="button" id="btnExitChat" class="btn btn-danger " style="margin-left: 5px;">Salir</button>
                            </div>

                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>



        </div>

        @*<div class="col-lg-10">

            <div id="text"></div>

        </div>
        <div class="" id="div_emoticons"></div>*@
       

        @*<input id="txtMessage_" type="text" class="form-control" style="height: 500px;" />*@
    </div>

    <div>
        <label>Message from Other</label>
        <input id="txtMessage2" type="text" class="form-control" style="height: 50px;" />
    </div>
</div>
    @section scripts {
      <script src="~/Scripts/emoticons.js"></script>
        @Scripts.Render("~/bundles/jqueryui")
    }
