@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please check your email and confirm your email address.
</p>
<p class="text-danger">
   
    Se le envio un mail de confirmacio, por favor revise su casilla de correo y haga click en el enlase que le acabamos de enviar
</p>
