*{ margin: 0; padding: 0;}

body
{
    color: #CCFF99;
    height: 100%;
    padding: 0px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    background-color: #CCFF99;
    background-repeat: repeat;
}
/*	//////////////////////////////////////////////////////////////////////////////////
	//	TITULOS
	//////////////////////////////////////////////////////////////////////////////////
*/
h1
{
    font-size: 27px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #3366CC;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 0px;
}
h2 {color: #576d84;font-size: 19px;line-height:20px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 11px;padding-left:0px;padding: 0px;}
h3{color: #585858;font-size: 19px;line-height:20px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h4 {color: #576d84;font-size: 24px;line-height:25px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h5 {color: #585858;font-size: 24px;line-height:25px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h6 {color: #576d84;font-size: 17px;line-height:18px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h7 {color: #585858;font-size: 17px;line-height:18px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
#home_wrap
{
    height:500px;
    width:850px;
    margin-top:20px;}
#home_wrap_image
{
   margin: 5px;

    }
#home_btn_start
{
    margin-right: 30px;
    border-style: none;
    float: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #9C6427;
    text-align: right;
    background-color: #352B2A;
}
#home_btn_start:hover
{
    border-style: solid;
    border-bottom-width: 3px;
    border-color: #333300;
    color: #D4B16F;
}
     .cuad
{
    border: 4px double #FFFF00;
    background-color: Black;
    height: 400px;
    width: 400px;
    background-position: center;
    margin-left: 100px;
    margin-top: 60px;
}