<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AWServicesProvider" type="Allus.Cnn.Weather.ConfigSection.AllusWeatherServicesSection, Allus.Cnn.Weather"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
		<section name="FwkMailAgentProvider" type="Fwk.ConfigSection.MailAgentSection, Fwk.Bases"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Fwk.Bases.Properties.Settings>
			<!--Tipo de del origen de datos de la mertadata los servicios -->
			<setting name="ServiceConfigurationManagerType" serializeAs="String">
				<value>Fwk.ServiceManagement.XmlServiceConfigurationManager, Fwk.Bases</value>
			</setting>
			<!--Metadata de los servicios -->
			<setting name="ServiceConfigurationSourceName" serializeAs="String">
				<value>\\corrsf71bi01\NuevosProyectos\Alluss.cnn\Configuration\ServiceMetadataConfig.xml</value>
			</setting>
			<!--Tipo de Wrapper que se usa para llamar al dispatcher de servicios -->
			<setting name="Wrapper" serializeAs="String">
				<value>Fwk.Bases.Connector.WebServiceWrapper, Fwk.Bases.Connector</value>
			</setting>
			<setting name="WebServiceDispatcherUrl" serializeAs="String">
				<value>http://corrsf71bi01:707/SingleService.asmx</value>
			</setting>
		</Fwk.Bases.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<client>
			<!-- chat instance participating in the mesh -->
			<endpoint name="AlertEndpoint"
			  address="net.p2p://Mesh/"
			  binding="netPeerTcpBinding"
			  bindingConfiguration="AlertBinding"
			  contract="Allus.Cnn.Common.IAlert">
			</endpoint>
		</client>
		<bindings>
			<netPeerTcpBinding>
				<!--maximo tamaño de mensage 650 k-->
				<binding name="AlertBinding" port="0" maxReceivedMessageSize="665600">
					<resolver mode="Auto"/>
					<security mode="None"/>
				</binding>
			</netPeerTcpBinding>
		</bindings>
	</system.serviceModel>
	<connectionStrings>
		<add name="_AlertDataConfig" connectionString="Data Source=corrsf71des01;Initial Catalog=colaborators;Persist Security Info=True;User ID=AllusCnn;Password=+411u5Cnn_" providerName="System.Data.SqlClient"/>
		<add name="AlertDataConfig" connectionString="Data Source=172.22.13.150,4308;Initial Catalog=colaborators;Persist Security Info=True;User ID=AllusCnn;Password=411usCnn+1" providerName="System.Data.SqlClient"/>
		<add name="__AlertDataConfig" connectionString="Data Source=corrsf71des01;Initial Catalog=colaborators;Integrated Security = True" providerName="System.Data.SqlClient"/>		
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="ServiceCache">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="120"
     maximumElementsInCacheBeforeScavenging="2000"
     numberToRemoveWhenScavenging="20"
     backingStoreName="Isolated Storage"
     type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     name="ServiceCache" />
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos"
     encryptionProviderName=""
     type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    name="Isolated Storage" />

		</backingStores>

	</cachingConfiguration>

	<FwkMailAgentProvider defaultProviderName="default">
		<Providers>
			<add name="default"
				 hostMail="172.22.12.30"
				 inboxUrl="http://{0}/WorldClient.dll?view=Main&amp;user={1}&amp;password={2}&amp;Folder=Inbox&amp;FirstUnread=Yes"
				 refreshTime= "5"
				 useSSL="false" />


		</Providers>
	</FwkMailAgentProvider>
	<!--Configuración de localidades del clima -->
	<AWServicesProvider defaultProviderName="Cordoba">
		<Providers>
			<!--Cordoba Capital -->
			<add name="Cordoba, ARG" code="ARCA0023"/>
			<!-- Mendoza Capital -->
			<add name="Mendoza, ARG" code="ARMA0056"/>
			<!-- Lima - Perú -->
			<add name="Lima, PER" code="PEXX0011"/>
			<!-- Bogota Colombia -->
			<add name="Bogota, COL" code="COXX0004"/>
			<!-- Medellin Colombia -->
			<add name="Medellin, COL" code="COXX0020"/>
			<!-- Madrid - ESP -->
			<add name="Madrid, ESP" code="SPXX0050"/>
		</Providers>
	</AWServicesProvider>
	<appSettings>
		<add key="UrlWebProxy" value="http://172.22.12.8:3128"/>
		<add key="UrlWeatherService" value="http://weather.yahooapis.com/forecastrss?p={0}&amp;u=c"/>
		<add key="Language" value="es" />
		<add key="WeatherText" value="C:\Projects\SatelliteApps\Allus.Alert\Allus.Weather\Weather_Test\bin\Debug\WatherTextTranslation.xml" />
	</appSettings>
	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "c:\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->

</configuration>