.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain OFTEN CHANGED rules used when the ChangePassword control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.PrettyChangePassword
{
    width: 28em;
}

.PrettyChangePassword .AspNet-ChangePassword
{
    font-family: Verdana;
    font-size: 0.8em;
    padding: 4px; 
    border: solid 1px #284775;
}

.PrettyChangePassword .AspNet-ChangePassword label,
.PrettyChangePassword .AspNet-ChangePassword input
{
    color: #5D7B9D;
}

.PrettyChangePassword .AspNet-ChangePassword input
{
    font-size: 1em;  /* lets the form element scale */
}

/* This rule is used when AutoAccessKey is true */
.PrettyChangePassword .AspNet-ChangePassword label em
{
    text-decoration: underline;
    font-style: normal;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ChangePasswordTitlePanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SuccessTitlePanel
{
    font-weight: bold;
    color: #F7F6F3;
    background: #5D7B9D;
    text-align: center;
    height: 1.7em;
    margin-bottom: 0.3em;
    padding-top: 0.4em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-InstructionPanel
{
    color: #284775;
    background: #EEEEEE;
    padding: 1em;
    text-align: left;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-FailurePanel
{
    height: 4em;
    color: #990000;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SubmitPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-CreateUserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordRecoveryPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ContinuePanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SuccessTextPanel
{
    padding: 0.25em 0.1em 0 0;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel
{
    text-align:right;
}


.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel span
{
    white-space: nowrap;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel input
{
    width: 10em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SubmitPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ContinuePanel input
{
    background: #284775;
    color: #00FFFF;
    border: solid 1px #5D7B9D;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ContinuePanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SuccessTextPanel
{
    text-align: center;
}


/* ------------------------------------------------------------------- */
/* Specific to this sample web site. */
/* These rules are probably not useful in your site. */

#SampleChangePassword .ChangePassword-Skin-InstructionText
{
    text-align: left;
    padding: 1em;
}
