@{
    ViewBag.Title = "Confirmacion de correo electronico";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su email. Ahora usted puede autenticarce en nuestro sitio         
    </p>
    <p>
        @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
