<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <client>
      <!-- Define NetMsmqEndpoint -->
      <endpoint name="OrderProcessorEndpoint"
                bindingConfiguration="Binding1"
                address="net.msmq://localhost/private/ServiceModelSamplesTransactedBatching" 
                binding="netMsmqBinding" 
                contract="Microsoft.ServiceModel.Samples.IOrderProcessor" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="Binding1">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>

  </system.serviceModel>

</configuration>
