<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <client>
      <!-- Define NetMsmqEndpoint -->
      <endpoint name="OrderProcessorEndpoint" address="net.msmq://localhost/private/ServiceModelSamplesPoison" binding="netMsmqBinding" contract="Microsoft.ServiceModel.Samples.IOrderProcessor"/>
    </client>
 
  </system.serviceModel>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
