<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
     
      <add name="AdventureWorks" connectionString=" Data Source=MATU\SQLEXPRESS;Initial Catalog=AdventureWorks;User ID=sa;Password=as"
        providerName="System.Data.SqlClient"/>
      <add name="AdventureWorks1" connectionString="Data Source=matu\sqlexpress;Initial Catalog=AdventureWorks;Integrated Security=True" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
