<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <section name="FwkMailAgentProvider" type="Fwk.ConfigSection.MailAgentSection, Fwk.Bases"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Fwk.Bases.Properties.Settings>
      <!--Tipo de del origen de datos de la mertadata los servicios -->
      <setting name="ServiceConfigurationManagerType" serializeAs="String">
        <value>Fwk.ServiceManagement.XmlServiceConfigurationManager, Fwk.Bases</value>
      </setting>
      <!--Metadata de los servicios -->
      <setting name="ServiceConfigurationSourceName" serializeAs="String">
        <value>\\corrsf71bi01\NuevosProyectos\Alluss.cnn\Configuration\ServiceMetadataConfig.xml</value>
      </setting>
      <!--Tipo de Wrapper que se usa para llamar al dispatcher de servicios -->
      <setting name="Wrapper" serializeAs="String">
        <value>Fwk.Bases.Connector.WebServiceWrapper, Fwk.Bases.Connector</value>
      </setting>
      <setting name="DispatcherRemotingConfigFilePath" serializeAs="String">
        <value>RemotingConfigFile.config</value>
      </setting>

      <setting name="WebServiceDispatcherUrl" serializeAs="String">
        <value Profile="(Default)">http://corrsf71bi01:707/SingleService.asmx</value>
        <!--<value Profile="(Default)">http://localhost:1119/WebServiceDispatcher/SingleService.asmx</value>-->
      </setting>

      <setting name="WebServiceDispatcherUrl" serializeAs="String">
        <!--<value Profile="(Default)">http://corrsf71bi01:6969/SingleService.asmx</value>-->
        <!--<value Profile="(Default)">http://localhost:1119/WebServiceDispatcher/SingleService.asmx</value>-->

        <value>http://corrsf71bi01:707/SingleService.asmx</value>
      </setting>

    </Fwk.Bases.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="AlertEndpoint"
			  address="net.p2p://Mesh/"
			  binding="netPeerTcpBinding"
			  bindingConfiguration="AlertBinding"
			  contract="Allus.Cnn.Common.IAlert">
      </endpoint>

    </client>
    <bindings>
      <netPeerTcpBinding>
        <binding name="AlertBinding" port="0">
          <resolver mode="Auto"/>
          <security mode="None"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="AlertDataConfig" connectionString="Data Source=corrsf71des01;Initial Catalog=colaborators;Integrated Security = True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="ServiceCache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="120"
     maximumElementsInCacheBeforeScavenging="2000"
     numberToRemoveWhenScavenging="20"
     backingStoreName="Isolated Storage"
     type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     name="ServiceCache" />
    </cacheManagers>
    <backingStores>
      <add partitionName="appDatos"
     encryptionProviderName=""
     type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    name="Isolated Storage" />

    </backingStores>

  </cachingConfiguration>

  <FwkMailAgentProvider defaultProviderName="default">
    <Providers>
      <add name="default"
				 hostMail="172.22.12.32"
				 inboxUrl="http://{0}/WorldClient.dll?view=Main&amp;user={1}&amp;password={2}&amp;Folder=Inbox&amp;FirstUnread=Yes"
				 refreshTime= "5"
				 useSSL="false" />


    </Providers>
  </FwkMailAgentProvider>
</configuration>