@{
    ViewBag.Title = "Cript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Person</h2>

<script type="text/javascript">
    function Encriptar() {
        var obj = {
            txt: {
                txt: $('#txtToEncript').val(),
               
            }
        }
        $.ajax(
         {
             url: httpHost + "/home/Encriptar/",
             type: "POST",
             dataType: 'json',
             contentType: "application/json;charset=utf-8",
             data: JSON.stringify(obj),
             success: function (result) {
                 $('#txtEncripted').val(result.Message);
             },
             error: ServiceFailed
         });
    }
</script>




    <div class="container">
        <div class="row">

        
            <div>
                <input id="txtToEncript" type="text" value="" >
            </div>

            <button onclick="Encriptar()">encriptar</button>


            <div>
                <input id="txtEncripted" type="text" value="">
            </div>
        </div>
    </div>
    @section scripts {

        <script src="~/Scripts/person.js" type="text/javascript"></script>
}