@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Person</h2>






<div class="container">
    <div class="row">

        <span data-bind="text: FullName"></span>
        <div id="PersonView">
            <p>
                Name: <span data-bind="text: Name"></span>
            </p>
            <p>
                Surname: <span data-bind="text: Surname"></span>
            </p>
            <p>
                Age: <span data-bind="text: Age"></span>
            </p>
            <p>
                b date: <span data-bind="text: BDate"></span>
            </p>
            <input data-bind="value: BDate" />


            <button data-bind="click: getApellido">Go getApellido</button>
            @*     <input data-bind="click: getApellido"/>*@
        </div>

        <div>
            <input id="txtPersonId" type="text" value="" name="txtPersonId">
        </div>

        <button onclick="GetPerson()">Retrive person by id</button>

        <button onclick="UpdatePerson()">Update person </button>
        @section scripts {

            <script src="~/Scripts/person.js" type="text/javascript"></script>
        }
    </div>
</div>