@model WebChat.Common.Models.SentEmailModel

<div class="modal-dialog">
    <div class="modal-content" style="width: 600px;
height: 375px">
        <div style="float: right;
    position: relative;
    margin-right: 15px;">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
            <div style="margin-left: 15px; margin-top: 20px; font-size: 25px;" class="row title">Envío Mensaje</div>
        <div style="margin-left: 25px;margin-right: 25px;
margin-top: 50px;
font-size: 15px;">
            
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-xs-3"><span>Celular</span></div>
            <div class="col-xs-9">
               @Html.TextBoxFor(Model =>Model.UserPhone, new { @id="txt-cellphone", @class = "txtEmail", @style="width:100%" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-xs-3"><span>Email</span></div>
            <div class="col-xs-9">
                  @Html.TextBoxFor(Model =>Model.UserEmail, new {@id="txt-emailFrom", @class = "emailFrom", @style="width:100%" })
            </div>
        </div>
        <div class="row"style="margin-bottom: 12px;">
            <div class="col-xs-3"><span>Mensaje</span></div>
            <div class="col-xs-9">
                @Html.TextAreaFor(Model =>Model.UserMessage, new {@id="txt-EmailBody", @rows="4", @cols="50", @class = "emailFrom", @style="width:100%" })
        </div>
        <div class="row" style="margin-top:122px">
            <div class="col-xs-3"></div>
            <div class="col-xs-4" style="margin-left:35px">
                <input type="button" id="btnAccept" class="btn btn-success" value="Aceptar"  style="width:100%" />
            </div>
                <div class="col-xs-4">
                <input type="button" id="btnCancel" class="btn btn-danger" value="Cancelar" style="width:100%" /></div>
        </div>
            </div>
        </div>
</div>
</div>