<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="queueName" value=".\private$\ServiceModelSamplesTransactedBatching" />
    <add key="connectionString1" value="Data Source=localhost\SQLEXPRESS;AttachDbFilename=orders;Integrated Security=True;User Instance=True;" />
    <add key="connectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=orders;Integrated Security=True;" />
    <!--<add name="tarifador" providerName="System.Data.SqlClient" connectionString="Data Source=S1DESARROLLO22\SQLEXPRESS;Initial Catalog=Tarifador;Integrated Security=True"/>-->
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ThrottlingBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="5"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="BatchingBehavior">
          <transactedBatching maxBatchSize="4"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service 
        
          behaviorConfiguration="ThrottlingBehavior" 
          name="Microsoft.ServiceModel.Samples.OrderProcessorService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/orderProcessor/transactedBatchingSample"/>
          </baseAddresses>
        </host>
        <!-- Define NetMsmqEndpoint -->
        <endpoint address="net.msmq://localhost/private/ServiceModelSamplesTransactedBatching"
                  binding="netMsmqBinding" 
                  bindingConfiguration="BindingSinActiveDirectory"
                  behaviorConfiguration="BatchingBehavior" 
                  contract="Microsoft.ServiceModel.Samples.IOrderProcessor" 
                  />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="BindingSinActiveDirectory">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>

  </system.serviceModel>

</configuration>
