<?xml version="1.0" encoding="utf-8" ?>
<configuration>



	<system.serviceModel>


		<client>

   <endpoint address="net.msmq://localhost/private/syseventqueue"
    binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ISystemEvent"
    contract="Poisoned.Proxy.ISystemEvent" name="NetMsmqBinding_ISystemEvent" />
   
  </client>
		
		<bindings>
   <netMsmqBinding>
	   <binding name="nosend"
					deadLetterQueue="System"
					
					timeToLive="00:00:10"  
					exactlyOnce="false"
					/>

	   
	<binding name="NetMsmqBinding_ISystemEvent" 
     durable="true"  
     maxRetryCycles="2" 
	 receiveErrorHandling="Fault"
	 receiveRetryCount="2"
     retryCycleDelay="00:00:10" 
	 timeToLive="0.00:20:00">
     
     <security mode="None">
      <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
       msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
      <message clientCredentialType="Windows" />
     </security>
    </binding>
   </netMsmqBinding>
   
  </bindings>
		
	</system.serviceModel>
</configuration>