._tlkFriend
{
    margin: 5px 0 5px 0;
    font-size: 1em;
    color: Orange;
    white-space: normal;
    word-break: break-all;
    overflow: auto;
}

    ._tlkFriend ._talker
    {
        font-size: 1em;
        color: #0078D3;
        padding-right: 10px;
    }

._time
{
    float: right;
    font-size: 10px;
}

._tlkFriend ._time
{
    font-size: 10px;
    color: Gray;
}

._tlkFriend ._msg
{
    font-size: 1em;
    line-height: 20px;
    color: black;
    padding-left: 2px;
    margin-left: 5px;
}

._tlkMe
{
    margin: 5px 0 5px 0;
    font-size: 1em;
    color: Green;
    /*border-bottom: 1px solid gray;*/
    white-space: normal;
    word-break: break-all;
    overflow: auto;
}

    ._tlkMe ._talker
    {
        font-size: 1em;
        color: grey;
    }

    ._tlkMe ._time
    {
        font-size: 10px;
        color: Gray;
    }

    ._tlkMe ._msg
    {
        font-size: 1em;
        line-height: 20px;
        color: black;
        padding-left: 5px;
        margin-left: 5px;
    }

    ._tlkMe ._msgClosed
    {
        font-size: 1em;
        line-height: 20px;
        color: red;
        padding-left: 2px;
        margin-left: 5px;
    }

.bubbleOwn
{
    position: relative;
    width: 60%;
    /*height: 35px;*/
    padding: 5px;
    background-color: #71C837;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 1px;
    clear: both;
    margin: 6px 0px 1px 8px;
    border: 1px solid #CCC;
    word-wrap: break-word;
    /*min-height: 35px;*/
}

.bubbleThey
{
    position: relative;
    width: 60%;
    /*height: 35px;*/
    padding: 5px;
    background: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    margin-right: 1px;
    clear: both;
    margin: 6px 8px 1px 0px;
    word-wrap: break-word;
    /*min-height: 35px;*/
}

.panel-body
{
    background-color: #31B7CB;
}



#div-left-container
{
    height: 400px;
    width: 300px;
    float: left;
    background-color: #E9EAED;
}

#btn-End
{
    margin-top: 267px;
    width: 89px;
    color: #FFF;
    border: none;
    background-color: rgb(42,127,255);
    margin-left: -7px;
}

#div-end-option button
{
    margin-top: 0;
    background-color: #FFF;
    padding: 3px;
    width: 47%;
}

.alert-chat
{
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

#div_emoticones
{
   position: absolute;
width: 160px;
overflow: auto;
background-color: #000;
top: 198px;
left: 177px;
/* border: 1px solid #A4A4A4; */
padding: 8px;
display: none;
height: 200px;
}

    #div_emoticones span
    {
        cursor: pointer;
    }

.chatheader
{
    width: 12% !important;
    padding-bottom: 5px;
}

#btn-end-option-no
{
    float: left;
    background-color: #000 !important;
    border: 1px solid #808080;
    color: #C6C6C6;
    border-radius: 3px;
    margin-top: 0;
    background-color: #FFF;
    padding: 3px;
    width: 40%;
}

.glyphicon-exclamation-sign
{
    color: #2A6496;
    margin: 0px 5px;
    font-size: 13px;
}

#div-footer
{
    font-size: 11px;
    display: none;
}

.div-attr
{
    padding: 5px;
    text-align: right;
    color: #fff;
    margin-bottom: 8px;
}

.input-attr
{
    border: none;
    background-color: Transparent;
    float: right;
    width: 50px;
    text-align: right;
    color: #fff;
}

#btn-end-option-yes
{
    float: right;
    background-color: #2A7FFF !important;
    color: white;
    border-radius: 3px;
    border: 1px solid #2A7FFF;
}


#ChatDialog
{
    width: 300px;
    position: absolute;
    border-bottom: 1px solid #A9A9A9;
}


#span-Epiron-User-Name
{
    margin: 0px 5px;
    height: 20px;
    font-size: 18px;
    display: none;
}

#txtMessageList
{
    height: 300px;
    overflow: auto;
}

#ajaxloader1
{
    height: 40px;
    width: 40px;
    margin: 0px 0px 0px 130px;
}

#OperatorWritingDiv
{
    height: 20px;
    position: relative;
    color: GrayText;
    font-weight: bold;
}

#img-upload-file
{
    float: left;
    margin-top: 12.5px;
    margin-left: 1px;
    cursor: pointer;
}


#txt-message
{
    border: none;
    min-height: 50px;
    width: 250px;
    background-color: transparent;
    float: left;
    resize: none;
    line-height: 12px;
}

#img-emoticon
{
    float: left;
    margin-top: 12.5px;
    margin-left: 1px;
    cursor: pointer;
}

#div-right-container
{
    float: left;
    width: 25%;
    height: 380px;
    padding: 32px;
    font-size: 8px;
    display: none;
}

#div-end-session-menu
{
    margin: 180px -30px 0px -30px;
    font-size: 10px;
}

#btn-End
{
    width: 134px;
    float: none;
    margin: 10px 5px 10px 5px;
    position: absolute;
    top: 435px;
    left: 83px;
    z-index: 100;
}

#div-end-option
{
    width: 134px;
    float: none;
    margin: 10px 5px 10px 5px;
    position: absolute;
    top: 420px;
    left: 90.5px;
    display: none;
    z-index: 100;
}

#div-options-lower
{
    display: block;
    position: absolute;
    top: 425px;
    left: 0;
    background-color: #000;
    height: 80px;
    width: 300px;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}
