body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;

}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.img_emoticon {
    height:24px;
    width:24px;
}

 body
        {
            color:rgb(102,102,102);
        }
        .no-border
        {
            border: solid 1px #4B4B4B;
border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
transition: none;
background-color: rgba(0, 0, 0, 0);
        }

        .btn-form
        {
            border-radius: 0px;
           height: 30px;
            width: 90px;
             padding: 5px;
background-color:transparent;
margin-top: 10px;
border-radius: 0px;
background-color: rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
transition: none;
float:right;
        }

        .btn-form#btnCreateNew
        {
          border-radius: 3px;
border: 1px solid #2A7FFF;
          background-color:  rgb(42,127,255);
          color:white;
        }

            .btn-form#btnClose
            {
                background: #000;
border: 1px solid #808080;
color: #C6C6C6;
border-radius: 3px;
margin-right:12px;
            }

        #div-content
        {
            width:358px; 
            height:470px; 
            padding:5%; 
        }

        .alert-chat {
           color: #FFF;
background-color: rgba(0, 0, 0, 0);
border-color: rgba(0, 0, 0, 0);
        }

        #span-version
        {
float: left;
margin-left: 1px;
margin-top: 60px;
color: #FFF;
        }

        #img-message
        {
            margin: 6px 0px 6px 150px;
float: left;
        }

        .img-header
        {
            display:inline-block;
            width: 20%;
            margin-left: 7px;
        }

        .form-control
        {
           color: #fff;
           background-color:black;
        }

        label
        {
            color:#fff;
        }
        #CreateChatDialog
        {
            width: 360px; background-image:url(../../img/fnd-form-ingreso.png); background-size: cover;
        }

        .panel-header
        {
            width:360px; 
            height:110px;
        }


                .btn-form#btnSendEMail
        {
          border-radius: 3px;
border: 1px solid #2A7FFF;
          background-color:  rgb(42,127,255);
          color:white;
        }

            .btn-form#btnCloseEmail
            {
                background: #000;
border: 1px solid #808080;
color: #C6C6C6;
border-radius: 3px;
margin-right:12px;
            }

#ajaxloader
{
    height: 40px;
    width: 40px;
    margin: 0px 0px 0px 160px;
}