<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("b9517dd2-43c8-4a2c-abea-955321c7b391");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
