@model WebChat.Common.Models.ChatRoomGridModel
@{
    ViewBag.Title = "Gestion de aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>chat</h2>
<div class="container">
    <div class="row">
        <div class="input-group" style="margin-top: 23px">
            <button id="btnOpenChat" type="submit" class="btn btn-primary btn-small" data-toggle="modal" data-keyboard="false" data-backdrop="static" data-target="#newModal">Iniciar chat on-line</button>
            <button id="btnOpenChat2" class="btn btn-primary btn-small" >Iniciar chat on-line</button>
        </div>
    </div>
</div>
<div id="chatRoomView" >
    @Html.Partial("_ChatRoomView")
</div>
   <!-- Modal New -->
<div id="newModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Crear nuevo chat " aria-hidden="true">
@*    @Html.Partial("_CreateChatRoomView", new WebChat.Common.Models.ChatRoomCreationModel())*@
</div>

@section scripts {

<script src="~/Scripts/epironchat/EpironChatReloj.js"></script>
<script src="~/Scripts/dropzone/dropzone.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/dropzone/dropzone.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dropzone/basic.css" />
@Scripts.Render("~/bundles/jqueryui")
}