<#@ template language="C#" debug="true" hostspecific="true"#>
<#@ output extension=".cs" #>

<#@ include file="GuidanceGenerator.tt" #>
<#
    GuidanceGenerator generator = new GuidanceGenerator();
    generator.DatabaseName = "gasto_my";
	generator.CnnString = @"Data Source=santana\SQLEXPRESS2008R2;Initial Catalog=gasto_my;Integrated Security=True";	
    generator.Run();
#>

