<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fwk.T4Gen.Properties.Settings.BB_Desarrollo_4_0_LogsConnectionString"
            connectionString="Data Source=CORRSF71DES01;Initial Catalog=BB_Desarrollo_4_0_Logs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>