 
@*http://paynedigital.com/articles/2011/11/bootbox-js-alert-confirm-dialogs-for-twitter-bootstrap*@

<div class="modal fade" id="messagebox" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="messagebox-title"></h4>
                </div>

                <div class="modal-body">
                    <div id="messagebox-body" ></div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
</div>

