
/*.no-border
{
    border: solid 1px rgb(57, 94, 128) !important;
}

.form-control
{
    background-color: rgba(0, 0, 0, 0.25) !important;
}

#txt-InitialMessage
{
    border: solid 1px rgb(57, 94, 128) !important;
}

.div-chat-header
{
    background-color: rgb(2, 54, 75) !important;
}

.bubbleOwn
{
    background-color: rgb(211, 225, 228) !important;
    color: rgb(3, 54, 74)!important;
    border: 1px solid rgb(158, 197, 255) !important;
}

.bubbleThey
{
    background-color: rgb(245, 245, 245) !important;
    color: rgb(3, 54, 74)!important;

}


#img-epiron
{
    display:none;
}

#div-mark
{
    background-color: rgb(2, 54, 75) !important;
border-radius: 4px 4px 0px 0px;
border-bottom: 1px solid rgb(236, 16, 16) !important;
}

.btn-form#btnClose
{
    background: rgba(0, 0, 0, 0) !important;
}

#div-options-lower
{
    background-color: rgb(2, 54, 75) !important;
}*/