<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gastos_myEntities" connectionString="metadata=res://*/EntityFramework.Gastos.csdl|res://*/EntityFramework.Gastos.ssdl|res://*/EntityFramework.Gastos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANTANA\SQLEXPRESS2008R2;initial catalog=gastos_my;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>