BODY {
	PADDING-RIGHT: 0px; BORDER-TOP: #000162 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 775px; PADDING-TOP: 0px; BACKGROUND-COLOR: #333333
}
#pagina {
	BACKGROUND-COLOR: #708090
}
#cabecera {
	BORDER-BOTTOM: #000162 1px solid; BACKGROUND-COLOR: #c9ebf5
}
#barratop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #18252e; PADDING-TOP: 0px; BORDER-BOTTOM: #000162 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #4d738c; TEXT-ALIGN: right
}
#barratop .barra-itemoff {
	DISPLAY: inline; MARGIN: -2px; HEIGHT: 15px
}
#barratop .barra-itemoff A {
	FONT: 10px Arial, Helvetica, sans-serif; COLOR: #c5c5c5; TEXT-DECORATION: none
}
#barratop .barra-itemoff A:hover {
	COLOR: #ffffff
}
#barratop .barra-itemon {
	DISPLAY: inline; MARGIN: -2px; HEIGHT: 15px
}
#barratop .barra-itemon A {
	FONT: 10px Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
#barrabot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #878250; PADDING-TOP: 0px; BORDER-BOTTOM: #d1cdb1 1px solid; FONT-FAMILY: "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; HEIGHT: auto; BACKGROUND-COLOR: #f3f3de
}
#barrabot A {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #0066ff; TEXT-DECORATION: none
}
#barrabot A:hover {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #ff9900; TEXT-DECORATION: underline
}
#barra {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000162 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #8faec2
}
#barra IMG {
	VERTICAL-ALIGN: text-bottom
}
#barra .barra-itemoff {
	DISPLAY: inline; MARGIN: -2px
}
#barra .barra-itemoff A {
	FONT: 12px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #003366; TEXT-DECORATION: none
}
#barra .barra-itemoff A:hover {
	COLOR: #ffffff
}
#barra .barra-itemon {
	DISPLAY: inline; MARGIN: -2px
}
#barra .barra-itemon A {
	FONT: 12px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #ffffff; TEXT-DECORATION: none
}
#barra .fecha {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #ffffff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
#line {
	BORDER-BOTTOM: #000162 1px solid; HEIGHT: 5px; BACKGROUND-COLOR: #344e5f
}
#panel {
	MARGIN: 0px; BORDER-BOTTOM: #000162 1px solid; BACKGROUND-COLOR: #f0f0d2
}
#panel .panel-off {
	BORDER-RIGHT: #000162 1px solid; BORDER-TOP: #000162 1px solid; DISPLAY: inline; MARGIN: 1px; BORDER-LEFT: #000162 1px solid; COLOR: #666666; BORDER-BOTTOM: #000162 1px solid; BACKGROUND-COLOR: #d1cdb1
}
#panel .panel-off A {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #999999; TEXT-DECORATION: none
}
#panel .panel-off A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
#panel .panel-on {
	BORDER-RIGHT: #000162 1px solid; BORDER-TOP: #000162 1px solid; DISPLAY: inline; MARGIN: 1px; BORDER-LEFT: #000162 1px solid; COLOR: #000000; BORDER-BOTTOM: #f0f0d2 1px solid; BACKGROUND-COLOR: #f0f0d2
}
#panel .panel-on A {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #000000; TEXT-DECORATION: none
}
#panel2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #333333 1px dotted; HEIGHT: 20px; BACKGROUND-COLOR: #f0f0d2
}
#valorar {
	BORDER-RIGHT: #000066 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000066 1px solid; PADDING-LEFT: 3px; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 3px; BORDER-LEFT: #000066 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #000066 1px solid; BACKGROUND-COLOR: #ffffff
}
#menu {
	FLOAT: left; WIDTH: 210px; BACKGROUND-COLOR: #8faec2
}
#menu .menu-titulo {
	MARGIN-LEFT: 7px; MARGIN-RIGHT: 20px; PADDING-TOP: 10px
}
#menu .menu-item {
	PADDING-LEFT: 15px; FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #e8e8e8
}
#menu .menu-item A {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: white; TEXT-DECORATION: none
}
#menu .menu-item A:hover {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; TEXT-DECORATION: underline
}
#menu .menu-activo {
	PADDING-LEFT: 15px; FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #e8e8e8
}
#menu .menu-activo A {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #003366; TEXT-DECORATION: none
}
#menu .menu-activo A:hover {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; TEXT-DECORATION: underline
}
#contenido {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; FONT: 13px/140% "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f8ea; TEXT-ALIGN: left
}
#contenido A {
	FONT: 11px "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #1c3e9f; TEXT-DECORATION: none
}
#contenido A:hover {
	FONT: 11px "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #1c3e9f; TEXT-DECORATION: underline
}
#contenido TD {
	FONT: 11px "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #000000
}
#contenido UL {
	MARGIN-TOP: 0px
}
#contenido LI {
	LIST-STYLE-TYPE: square
}
#bus_titulo {
	FONT-SIZE: 12px; COLOR: #1c3e9f; FONT-FAMILY: "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; BACKGROUND-COLOR: #c9e4e1; TEXT-DECORATION: none
}
#bus_descripcion {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma
}
#bus_url {
	FONT: 11px "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #009966; TEXT-DECORATION: none
}
#bus_pie {
	FONT: 11px "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #000000; TEXT-DECORATION: none
}
#pie-page {
	PADDING-RIGHT: 0px; BORDER-TOP: #333333 1px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 14px/25px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #666666; PADDING-TOP: 0px; BACKGROUND-COLOR: #f4f4df; TEXT-DECORATION: none
}
#pie-page A {
	FONT: 12px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #1c3e9f; TEXT-DECORATION: none
}
#pie-page A:hover {
	COLOR: #55829f; TEXT-DECORATION: underline
}
#frase {
	PADDING-RIGHT: 0px; BORDER-TOP: #000162 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000162 1px solid; BACKGROUND-COLOR: #8faec2
}
#frase .frase-item {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #f1f7f8; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#frase .frase-autor {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #2d4a55; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#frase .frase-item A {
	FONT: 11px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #003366; TEXT-DECORATION: none
}
#frase .frase-item A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.post-titulo {
	PADDING-BOTTOM: 5px; TEXT-INDENT: 40px; BORDER-BOTTOM: #040742 1px dashed
}
.titulo {
	FONT: 20px Georgia, "Trebuchet ms", Sans-serif; COLOR: #040742
}
.subtitulo {
	PADDING-LEFT: 40px; FONT: 11px "Trebuchet ms", Tahoma, Verdana; COLOR: #050d87
}
.post-pie {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.post-pie IMG {
	PADDING-RIGHT: 2px; VERTICAL-ALIGN: middle
}
#pie {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; FONT: 11px 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #728ab1; PADDING-TOP: 8px; BACKGROUND-COLOR: #344e5f; TEXT-ALIGN: center
}
#pie A {
	FONT: 11px 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #dddddd
}
.comentarios-titulo {
	MARGIN-TOP: 10px; FONT: bold 15px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; COLOR: #040742; BORDER-BOTTOM: #999999 1px dotted
}
.comentarios-cuerpo {
	PADDING-BOTTOM: 10px; FONT: 13px/140% "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; MARGIN-LEFT: 10px; COLOR: #4b4b4b
}
.comentarios-firma {
	MARGIN-TOP: 15px; PADDING-BOTTOM: 3px; FONT: 12px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma
}
.comentarios-firma A {
	FONT: 12px "Trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma
}
.comentarios-formulario {
	MARGIN-TOP: 15px; FONT: 13px "trebuchet ms", 'Bitstream Vera Sans', Verdana, Tahoma; MARGIN-LEFT: 10px
}
.prg {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 10px 40px 10px 15px; FONT: 90% courier new, Courier, fixedsys, "Lucida Sans"; BORDER-LEFT: #0066cc 3px solid; COLOR: navy; PADDING-TOP: 5px; BACKGROUND-COLOR: #f8f8ea
}
PRE {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 10px 40px 10px 15px; FONT: 90%/90% courier new, Courier, fixedsys, "Lucida Sans"; BORDER-LEFT: #0066cc 3px solid; COLOR: navy; PADDING-TOP: 5px; BACKGROUND-COLOR: #f8f8ea
}
.consola {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 10px 40px 10px 15px; FONT: 13px courier new, courier, fixedsys, "Lucida Sans"; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #000000
}
#content DIV.blog IMG.center {
	DISPLAY: block; BORDER-LEFT-COLOR: black; FLOAT: none; BORDER-BOTTOM-COLOR: black; MARGIN-LEFT: auto; BORDER-TOP-COLOR: black; MARGIN-RIGHT: auto; BORDER-RIGHT-COLOR: black
}
.linev {
	BORDER-RIGHT: #040742 1px dashed
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-RIGHT: #5e6134 1px solid; BORDER-TOP: #5e6134 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #5e6134 1px solid; COLOR: #000000; BORDER-BOTTOM: #5e6134 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA {
	BORDER-RIGHT: #5e6134 1px solid; BORDER-TOP: #5e6134 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #5e6134 1px solid; COLOR: #000000; BORDER-BOTTOM: #5e6134 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SELECT {
	BORDER-RIGHT: #5e6134 1px solid; BORDER-TOP: #5e6134 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #5e6134 1px solid; COLOR: #000000; BORDER-BOTTOM: #5e6134 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
