<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>


    
  </configSections>
  <!--Lifetime Leases apply only to Singleton and CAOs-->
  <!--not apply to SingleCall , objects are created and destroyed with each method call.-->

  <system.runtime.remoting>
    <application name="TestRemoting_1">
      <service>
        <wellknown
				   mode="Singleton"
				   type="Fwk.Remoting.FwkRemoteObjectTest, Common"
				   objectUri="TestRemoting_1.rem"
            />
      </service>
      <channels>
        <channel ref="tcp" port="9001"/>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
</configuration>