

 <div id="ChatDialog">
                <div class="div-chat-header" style="background-color: #000; padding-top: 6px;"><img id="img-epiron" class="img-header chatheader" src="~/img/logo-epiron.png"/><img id="img-entorno" class="img-header chatheader" src="~/img/ico.png"/></div>
     <div id="div-left-container" >
         <span id="span-Epiron-User-Name" ></span>
     <div id="txtMessageList"> 
                            <div id="alert-text-view-info-ChatRoom" style="background-color: #000;">
                                    <img id="ajaxloader1"  src="@Url.Content("~/img/ajax-loader.gif")" />
                                    <div id="alert-text-view-info" class="alert-chat alert alert-warning" style="display: normal;">
                                        <p style="text-align: center;" class="info-text"></p>
                                    </div>
                    </div>
     </div>
         <div id="OperatorWritingDiv" ></div>
        <div style="border-top: 1px solid #A9A9A9;">
             <img id="img-upload-file" alt="enviar archivo" src="~/img/ico-adjuntar.png"  />
             <textarea id="txt-message" maxlength="300"></textarea>
             <img id="img-emoticon" src="~/img/ico-emoticon.png" />
        </div>
     </div>
     <div id="div-right-container" style="background-image:url(../../img/fnd-form-ingreso.png);">
         <img id="img-messagechat" src="~/img/icono-chat.png"/>
         <span id="span-version-chat"></span>
         <div id="div-end-session-menu" class="div-end-session-menu-no-email" >
              <div class="div-attr"><span style="float: left;">Duración del chat: </span><input class="input-attr" type="text" id="txt" value="00:00" disabled></div>
              <div class="div-attr" style="display:none;"><span style="float: left;">Conexion: </span><input class="input-attr" type="text" id="txtConex" value="00:00" disabled></div>   
              <div class="div-attr" id="div-attr-send-email-label" style="display:none;"><span style="float: left;">Enviar Conversación? </span><input class="input-attr" type="checkbox" id="check-Send-Email" style="width:12px;"></div>
              <div class="div-attr" id="div-attr-send-email-input" style="display:none;"><input style="width: 100%; color: #000" type="text" id="txtemailchat" placeholder="Email" maxlength="50"></div>
        
         </div>
     </div>
      <button id="btn-End" type="submit" class="btn btn-form" >FINALIZAR</button>
         <div id="div-end-option" >
            <p style="font-size:10px; color:white; text-align:center; " id="message-before-end">¿Desea terminar la sesión?</p>
             <button id="btn-end-option-no" class="btn-form">No</button>
             <button id="btn-end-option-yes" class="btn-form" >Sí</button>
         </div>
     <div id="div-options-lower"></div>
     <div id="div-footer" style="display: none;"><span class="glyphicon glyphicon-exclamation-sign"></span>Respondiendo nuestras <a href="#" id="a-survey">encuentas</a> ayudas a mejorar el servicio</div>
 </div>

          @*   <button id="b1" onclick="test1();" style="position: absolute;
top: 550px;">1</button>
             <button id="b2" onclick="test2();" style="position: absolute;
top: 650px;">2</button>

<script>
    var longDateFormat = 'HH:mm:ss';
    var container = $('#txtMessageList');
    function test1() {
        var now = new Date();
        var newMessage = "HOY TALLERES HAY QUE GANAR";// $("#txt-message").val();//formatea el texto agregando saltos de lineas

        var div = document.createElement("DIV");
        var dateFormat = jQuery.format.date(now, longDateFormat);

        $(div)
                    .appendTo(container)
                    .addClass("bubbleOwn")
                    .end()

                    .append("<span class=\"_time\">" + dateFormat + "</span>")
                    .append("<BR /> ")
                    .append("<span class=\"_msg\">" +(newMessage) + "</span> ");

        scrollToBotton();
        $("#txt-message").val("");
    }

    function test2() {
        var now = new Date();
        var newMessage = "No PODEMOS PERDER"; // $("#txt-message").val();//formatea el texto agregando saltos de lineas

        var div = document.createElement("DIV");
        var dateFormat = jQuery.format.date(now, longDateFormat);

        $(div)
                    .appendTo(container)
                    .addClass("bubbleThey")
                    .end()

                    .append("<span class=\"_time\">" + dateFormat + "</span>")
                    .append("<BR /> ")
                    .append("<span class=\"_msg\">" + (newMessage) + "</span> ");

        scrollToBotton();
        $("#txt-message").val("");
    
    }
</script>*@
<div id="div_emoticones"></div>



  