<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SysEvent.Deamon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="syseventdata" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SysEvents;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="SysEvent.Deamon.SystemEvent" behaviorConfiguration="SystemEventBehavior">
		  <host>
			  <baseAddresses>
				  <add baseAddress="http://localhost:8000/SysEventDeamon/SystemEvent/" />
			  </baseAddresses>
		  </host>
        <endpoint address="net.msmq://localhost/private/SysEventQueue"
				  binding="netMsmqBinding" 
				  bindingConfiguration="MsmqBinding" 
				  behaviorConfiguration="BatchingBehavior" 
				  contract="SysEvent.Deamon.ISystemEvent" />
        <!-- Metadata Endpoints -->
        <endpoint address="mex" binding="mexHttpBinding" contract="SysEvent.Deamon.ISystemEvent" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SystemEventBehavior">
          <serviceMetadata httpGetEnabled="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="BatchingBehavior">
          <transactedBatching maxBatchSize="4" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="MsmqBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <SysEvent.Deamon.Properties.Settings>
      <setting name="QueuePath" serializeAs="String">
        <value>.\private$\SysEventQueue</value>
      </setting>
      <setting name="PerformLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdministratorGroupName" serializeAs="String">
        <value>Administradores</value>
      </setting>
    </SysEvent.Deamon.Properties.Settings>
  </applicationSettings>
 
  
</configuration>