<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="BuzzwordBingo"
                address="net.p2p://BuzzwordBingo"
                binding="netPeerTcpBinding"
                bindingConfiguration="BuzzwordBingoBinding"
                contract="BuzzwordBingo.Interfaces.IBingoGame">
      </endpoint>
    </client>
    <bindings>
      <netPeerTcpBinding>
        <binding name="BuzzwordBingoBinding" port="0">
          <security mode="None"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>