
@{
    ViewBag.Title = "Gestion de aplicaciones";
}





<div class="container">
    <div class="row">
        <div class="span1">
            <!-- Chat Room  Dialog -->
            <div id="chatDialog" class="panel panel-success" style="">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat room</h3>
                </div>
                <div class="panel-body">
                    <div style=" border: 1px solid black">
                        <p>Su internet explorer no es compatible con este sitio. Esta aplicacion nececita una version 9 o superior</p>
                        <a href="http://windows.microsoft.com/es-ar/internet-explorer/ie-9-worldwide-languages">Actualiza tu navegador</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

