<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Poisoned.WcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Poisoned.WcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
		<add name="CnnStringKey" connectionString="Data Source=CORRSF71DES01;APP=SysEventDaemon;Initial Catalog=EventDetecter;Persist Security Info = True;User ID=SysEvent;Password=5y53v3nt++" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="Poisoned.WcfService.SystemEvent" behaviorConfiguration="SystemEventBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://moviedo:8000/SysEventDaemon/SystemEvent/" />
					</baseAddresses>
				</host>
				<endpoint address="net.msmq://moviedo/private/syseventqueue"
        binding="netMsmqBinding"
        bindingConfiguration="MsmqBinding"
        behaviorConfiguration="BatchingBehavior"
        contract="Poisoned.WcfService.ISystemEvent" />
				<!-- Metadata Endpoints -->
				<endpoint address="mex" binding="mexHttpBinding" contract="Poisoned.WcfService.ISystemEvent" />

				<!-- endpoint para mensages dudosos -->
				<endpoint address="net.msmq://localhost/private/SystemEventPoison"
                  binding="netMsmqBinding"
                  bindingConfiguration="DLQBinding"
                  contract="Poisoned.WcfService.ISystemEventDLQ" />
				
			</service>


			

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="SystemEventBehavior">
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="BatchingBehavior">
					<transactedBatching maxBatchSize="2" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<netMsmqBinding>
				<binding name="DLQBinding" />

				<binding name="MsmqBinding"  deadLetterQueue="System">
					<security mode="None" />
				</binding>
			</netMsmqBinding>
		</bindings>
	</system.serviceModel>
	
	
	<applicationSettings>
		<Poisoned.WcfService.Properties.Settings>
   <setting name="PerformLog" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AdministratorGroupName" serializeAs="String">
    <value>Administradores</value>
   </setting>
   <setting name="QueueName" serializeAs="String">
    <value>.\private$\syseventqueue</value>
   </setting>
   <setting name="PoisonQueueName" serializeAs="String">
    <value>.\private$\syseventqueuePoison</value>
   </setting>
  </Poisoned.WcfService.Properties.Settings>
	</applicationSettings>
 
</configuration>