.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain OFTEN CHANGED rules used when the ChangePassword control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.PrettyChangePassword
{
    width: 32em;
}

.PrettyChangePassword .AspNet-ChangePassword
{
    font-family: Verdana;
    font-size: 0.8em;
    background: #FFFFFF url(bg-fade-light.png) repeat-x bottom;    
    padding: 3px; 
    padding-bottom: 1em;
    border: solid 2px #465239;
}

.PrettyChangePassword .AspNet-ChangePassword label,
.PrettyChangePassword .AspNet-ChangePassword input
{
    color: #465239;
}    

.PrettyChangePassword .AspNet-ChangePassword input
{
    font-size: 1em;  /* lets the form element scale */
}

/* This rule is used when AutoAccessKey is true */
.PrettyChangePassword .AspNet-ChangePassword label em
{
    text-decoration: underline;
    font-style: normal;
}

.PrettyChangePassword .AspNet-ChangePassword input
{
    border: solid 1px #465239;
}    

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ChangePasswordTitlePanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SuccessTitlePanel
{
    font-weight: bold;
    font-size: 1.5em;
    color: #465239;
    background: #E9F5DA;
    text-align: center;
    height: 2em;
    margin-bottom: 0.1em;
    padding-top: 0.4em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-InstructionPanel
{
    color: #465239;
    background: #FFFFFF url(bg-fade-light-short-top-down.png) repeat-x top;   
    padding: 1em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-FailurePanel
{
    color: #FF0000;
    text-align: center;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-CreateUserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordRecoveryPanel
{
    padding: 0.25em 0.1em 0 0;
    text-align: right;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel
{
    margin-right: 5em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SubmitPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ContinuePanel
{
    margin-top: 1em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SubmitPanel
{
    margin-left: 0.5em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ContinuePanel
{
    margin-left: 16em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel label,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel span
{
    white-space: nowrap;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-UserPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-NewPasswordPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ConfirmNewPasswordPanel input
{
    width: 9em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SubmitPanel
{
    padding-bottom: 1em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SubmitPanel input,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-ContinuePanel input
{
    background: #FFFFFF;
    color: #465239;
    border: solid 1px #465239;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-CreateUserPanel a,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordRecoveryPanel a
{
    color: #465239;
    font-style: italic;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-SuccessTextPanel
{
    color: Black;
    margin-left: 10.5em;
    margin-top: 1em;
}

.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-CreateUserPanel,
.PrettyChangePassword .AspNet-ChangePassword .AspNet-ChangePassword-PasswordRecoveryPanel
{
}

/* ------------------------------------------------------------------- */
/* Specific to this sample web site. */
/* These rules are probably not useful in your site. */

#SampleChangePassword .ChangePassword-Skin
{
    background:url(bg-fade-light.png) repeat-x bottom;    
}

#SampleChangePassword .ChangePassword-Skin-Title
{
    padding-left: 10px;
    padding-right: 10px;    
}

#SampleChangePassword .ChangePassword-Skin-SuccessText
{
    padding: 10px;
}

#SampleChangePassword .ChangePassword-Skin-InstructionText
{
    background:url(bg-fade-light-short-top-down.png) repeat-x top;   
    text-align: left; 
    padding: 1em;
}

#SampleChangePassword .ChangePassword-Skin-Hyperlink
{
    padding: 15px;
    text-align: right;
    line-height: 1.5em;
}
