@model Security.Portal.Api.Common.SecurityPortalErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <script type="text/javascript" lang="javascript">

     $(function () {


         $("#InnerEx").accordion();
     });
    </script>
<div style="margin-left: 300px; margin-top: 100px; width: 660px">
    <span>
        <img src="/content/img/warning25.png" alt="" style="float: left; height: 42px;
            width: 42px; margin-right: 10px" />
    </span>
    <h2 class="ui-corner-all">
        Error no esperado 
    </h2>
    <br />
  <h3>Mensage</h3>
    <div style="padding: 10PX; width: 600px" class="ui-corner-all ui-state-highlight ">
        @Model.Message
    </div>
    
  
    <div id="InnerEx" class="ui-corner-all" style="padding: 10PX; width: 600px">
             
            <h3>Error interno</h3>
        <div class="ui-state-error  ui-corner-all " style="margin: 10PX;">

           
            @{
                Exception innerEx = Model.Exception.InnerException;
            }
           
            
                @while (innerEx != null)
                {
                    <div>
                        @innerEx.Message;
                    </div>
                    innerEx = innerEx.InnerException;
                }
            
        </div>
        <h3>
            Traza del error</h3>
        <div class="ui-state-error  ui-corner-all">
            <div>

                
                    @Model.StackTrace
                

                                             
                
            </div>
        </div>
    </div>
</div>
