@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutVersion1.cshtml";
}


<script src="~/Scripts/selectionTestChatEpiron.js"></script>
<div style="margin:25px auto;padding:15px; border:1px solid black; border-radius:10px 10px 10px 10px;width:400px;">
    <h2 style="margin-bottom: 40px;">Modo de ingreso</h2> 
    <button id="btn-post" class="btn btn-danger" style="margin-bottom: 15px;" onclick="openForm()">Entrar vía formulario</button>
     <p style="display:inline">(sin parámetros)</p>
    </br>
    <button id="btn-get" class="btn btn-primary"onclick="openUrl($('#txt-url').val())" style="display:inline">Entrar vía URL</button>
    <p style="display:inline">Teléfono:</p>
    <input style="width:150px; display:inline; color: black;
background-color:white;" type="text" id="txt-url" class="form-control" value="" />
</div>
