<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="TradingServiceConfiguration"
					address="net.tcp://localhost:8001/TradingService"
					binding="netTcpBinding"
                bindingConfiguration="ReliableBinding"
					contract="Fabrikam.ITradingService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="ReliableBinding">
          <reliableSession enabled="true" ordered ="true"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
