.content1
{
        background-color:Black; 
        border-style: solid none none none;
        border-width: 1px;
         border-color: #999966;
        margin: 0 auto -4em;
        padding: 0;
        height: auto !important;
        height: 100%;
       
        width: 95%;
}
.content
{
        background-color:Black; 
         
         overflow: hidden;
        width: 900px;
}
/*capa 1*/
.leftcontent
{
  
    background-color:Gray; 
  
    width: 500px;
    padding:10px;
    float:left;
    height:100%;
}
/*capa 3*/
.centercontent
  { 
        background-color:White; 
       margin-left:520px;
       margin-right:125px;
        height:100%;
}
  
/*capa 2*/
.rightcontent
{
     float:right;
     background-color:Olive; 
     padding:10px;

     width: 100px;
     height:100%;
}



    .clearBoth{clear :both}