<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  	<system.serviceModel>
		<services>
			<service name="Fabrikam.TradingSystem">
				<endpoint 
					address="TradingService" 
					binding="netTcpBinding" 
          bindingConfiguration="ReliableBinding" 
					contract="Fabrikam.ITradingService"/>
			</service>
		</services>
      <bindings>
        <netTcpBinding>
          <binding name="ReliableBinding" >
            <reliableSession enabled="true" ordered="true"/>
          </binding>
        </netTcpBinding>
      </bindings>
	</system.serviceModel>

</configuration>