<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint 
                address="net.tcp://localhost:8000/BeerInventory/service"
                binding="netTcpBinding" 
                contract="BeerClient.BeerInventoryGateway.BeerInventoryService"
                name="TcpBinding" />
            <endpoint 
                address="http://localhost:8001/BeerInventory/service"
                binding="wsDualHttpBinding" 
                contract="BeerClient.BeerInventoryGateway.BeerInventoryService"
                name="HttpBinding" />
        </client>
    </system.serviceModel>
</configuration>