<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".js" #>
<#@ Assembly Name="System.Core" #>
<#@ Assembly Name="System.Windows.Forms" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #> 
					
<#@ assembly name="$(SolutionDir)\Fwk.T4Gen\bin\debug\Fwk.T4Gen.dll" #>
<#@ import namespace="Fwk.T4Gen" #>

<#
    jsObservables t = new jsObservables();
	t.Host = this.Host;
	t.BaseType= Int32;
    this.Write(t.TransformText());
#>
