@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
 
<script type="text/javascript">
    var httpHost = Getrootpath('');
    $(function () {
        
        //$("#btn_callsvc1").button();

        //$("#btn_callsvc1").click(function () {
        //    alert('ddd');
        //});
        $('#btn_callsvc1').click(function () {
            RetrivePMOList();
        });
        $('#btn_callsvc2').click(function () {
            RetrivePMOListParamas();
        });

    });

    function RetrivePMOListParamas()
    {
        var alertText = $('#alert-text-view');
        alertText.hide('slow');
        $('#textRes1').html('');
        var varDataJSON = {
            param: $('#txtParams').val()
        }
        $.ajax(
                       {
                         
                           url: httpHost + "/home/RetrivePMOListParamas/",
                           type: "POST",
                           contentType: "application/json;charset=utf-8",
                           datatype: "json",
                           data: JSON.stringify(varDataJSON),
                           success: function (result) {
                               if (result.Result && result.Result == 'ERROR') {
                                   OnFailure(result);
                                   return;
                               }
                               var htmlTable='<table>';
                               $.each(result, function (index, value) {
                                   htmlTable += "<tr class='tr'>";
                                   htmlTable += "<td>" + value.Code.toString() + "</td>";
                                   htmlTable += "<td>" + value.Description.toString() + "</td>";
                                   htmlTable += "</tr>";
                               });
                               htmlTable += "</table>";
                               $('#textRes1').html(htmlTable);
                           },
                           error: ServiceFailed
                       });

    }

    function RetrivePMOList() {
        var alertText = $('#alert-text-view');
        alertText.hide('slow');
        $('#textRes1').html('');
        $.ajax(
                       {
   
                           url: httpHost + "/home/RetrivePMOList/",
                           type: "POST",
                           contentType: "application/json;charset=utf-8",
                           datatype: "json",
                          
                           success: function (result) {
                               if (result.Result && result.Result == 'ERROR') {
                                   OnFailure(result);
                                   return;
                               }
                               var htmlTable = '<table>';
                               $.each(result, function (index, value) {
                                   htmlTable += "<tr class='tr'>";
                                   htmlTable += "<td>" + value.Code.toString() + "</td>";
                                   htmlTable += "<td>" + value.Description.toString() + "</td>";
                                   htmlTable += "</tr>";
                               });
                               htmlTable += "</table>";
                               $('#textRes1').html(htmlTable);
                           },
                           error: ServiceFailed
                       });

    }
    function OnFailure(ajaxContext) {
        var alertText = $('#alert-text-view');
        alertText.show('slow');

        if (ajaxContext.responseText)
            alertText.find('.error-text').text(ajaxContext.responseText);
        else
            alertText.find('.error-text').text(ajaxContext.Message);
    }
    function ServiceFailed(xhr, status, p3, p4) {
        var errMsg = status + " " + p3;
        //var errObj = JSON.parse(xhr.responseText);
        errMsg = errMsg + "\n" + xhr.responseText;

        alert(errMsg);
    }

    function Getrootpath(href) {

        //return 'http://ws2008/SecPortal/';
        var url = document.location.protocol + '//' + document.location.host;
        var root = document.location + '/';
        var aux = '';
        var temp = new Array();
        temp = root.split('/');
        aux = temp[2].toString();

        if (aux.indexOf('localhost:', 0) == -1) {
            if (temp.length == 6)
                url = url + '/' + temp[3] + href;
            else
                url = url + '/' + href;
        }
        else {
            url = url + href;
        }

        return url;
    }
</script>


<div>
    <button id="btn_callsvc1" type="submit" class="btn btn-default">RetrivePMOList</button>
    <button id="btn_callsvc2" type="submit" class="btn btn-default">RetrivePMOListParamas</button>
    <input id="txtParams" type="text" />
    <label for="exampleInput">Texto de resultado</label>
    <div id="textRes1" class="form-control" />
    <div id="alert-text-view" class="alert alert-warning" style="display: none; margin: 5px">
        <p><strong>Error en el servidor</strong> </p>
        <p class="error-text"></p>
    </div>
</div>