<?xml version="1.0"?>
<configuration>
  
  <configSections>
 
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
	  
  </configSections>
	
  <connectionStrings>
    <add name="health" connectionString="Data Source=192.168.1.188\SQLEXPRESS2008;Initial Catalog=Health;Persist Security Info=True;User ID=ws;Password=as" providerName="System.Data.SqlClient"/>
    <add name="HealthEntities" connectionString="metadata=res://*/Health.csdl|res://*/Health.ssdl|res://*/Health.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.188\SQLEXPRESS2008;initial catalog=Health;persist security info=True;user id=ws;password=as;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <appSettings>
    <!--Nombre logico del dispatcher con el que se lo registro  en la bd: Se utiliza solo si hay un registro de instancias en bd-->
    <add key="ServiceDispatcherName" value="Fwk_Disp_Test"/>
    <!--Cadena de coneccion donde se encuentran las configuraciones del dispatcher: Necesario cuando se utiliza ServiceDispatcherName y la info del dispatcher esta en BD-->
    <add key="ServiceDispatcherConnection" value="fwk_dispatcher"/>
    <!--Nombre del dispatcher como instancia de servicio fisico : puede o no coincidir con ServiceDispatcherName-->
    <add key="HostApplicationName" value="Health soft service"/>
  </appSettings>

	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local" type="local" baseConfigFile="ConfigurationManeger.xml"/>
		</Providers>
	</FwkConfigProvider>
	<!--Configuracion del logging del frameworck -->
  <FwkLogging defaultProviderName="">
    <Providers>
      <add name="P1" events="Error,Information,Warning" target="WindowsEvent"/>
      <add name="P2" events="Debug" target="Xml" fileName="Logs.xml"/>
    </Providers>
  </FwkLogging>
  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      <add name="health" type="xml" appid="" sourceinfo="..\..\Metasvc.xml" securityProviderName="sec_health"/>
    </Providers>
  </FwkServiceMetadata>
	<FwkServiceMetadata defaultProviderName="Xml">
		<Providers>
			<add name="Xml" type="xml" appid="" sourceinfo="ServiceMetadataConfig.xml" securityProviderName=""/>
			<add name="Sql" type="sqldatabase" appid="" sourceinfo="BPConfig"/>
		</Providers>
	</FwkServiceMetadata>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
