<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_ISystemEvent" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    deadLetterQueue="System" durable="true" exactlyOnce="true"
                    maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault"
                    receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00"
                    useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native"
                    maxBufferPoolSize="524288" useActiveDirectory="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
                            msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netMsmqBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_ISystemEvent" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/SysEventQueue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ISystemEvent"
                contract="ServiceProxy.ISystemEvent" name="NetMsmqBinding_ISystemEvent" />
            <endpoint address="http://localhost:8000/SysEventDeamon/SystemEvent/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISystemEvent"
                contract="ServiceProxy.ISystemEvent" name="MetadataExchangeHttpBinding_ISystemEvent" />
        </client>
    </system.serviceModel>
</configuration>