<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    
  </configSections>
  <connectionStrings>

    <add name="Mails" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=mails;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="localFile1">
    <Providers>
      <add name="localFile_demo" type="local" baseConfigFile="../../ConfigurationManager_demo.xml" />
      <add name="Mails" type="sqldatabase" baseConfigFile="mails_config" sourceinfo ="Mails" />
    </Providers>
  </FwkConfigProvider>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
</startup><system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
</configuration>
